### Function 01

In [1]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_676243de255e6c0001248257/json?page=1&page_size=10"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df

,country name,country code,indicator name,indicator code,1975,1976,1977,1978,1979,1980,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,0.036042,None,None,None,None,0.134339,...,8.40902,7.540297,9.323185,9.497602,9.692403,9.985,10.41024,9.468459,8.948301,9.350967

In [2]:
# Melt the dataframe: keep only the text columns as identifiers
df_long = pd.melt(
    df,
    id_vars=['country name', 'country code', 'indicator name', 'indicator code'],
    var_name='Year',
    value_name='Value'
)

# Convert 'Year' to integer (optional, but recommended for analysis)
df_long['Year'] = df_long['Year'].astype('Int64')
df_long

,country name,country code,indicator name,indicator code,Year,Value
0,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1975,0.036042
1,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1976,None
2,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1977,None
3,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1978,None
4,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1979,None
5,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1980,0.134339
6,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1981,None
7,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1982,None
8,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1983,None
9,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1984,None
10,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1985,None
11,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1986,None
12,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1987,None
13,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1988,None
14,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1989,None
15,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1990,None
16,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1991,None
17,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1992,1.32451
18,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1993,2.136141
19,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1994,2.468264
20,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1995,4.382185
21,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1996,8.372554
22,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1997,5.915642
23,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1998,3.713331
24,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,1999,2.90642
25,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2000,3.202576
26,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2001,3.533377
27,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2002,2.909348
28,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2003,1.616517
29,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2004,2.233717
30,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2005,5.366039
31,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2006,5.786571
32,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2007,8.563346
33,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2008,6.695908
34,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2009,7.425426
35,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2010,10.169807
36,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2011,9.598451
37,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2012,11.152491
38,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2013,10.443059
39,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2014,8.40902
40,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2015,7.540297
41,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2016,9.323185
42,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2017,9.497602
43,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2018,9.692403
44,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2019,9.985
45,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2020,10.41024
46,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2021,9.468459
47,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2022,8.948301
48,Cambodia,KHM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,2023,9.350967

In [3]:
df_long.columns.tolist()

['country name',
 'country code',
 'indicator name',
 'indicator code',
 'Year',
 'Value']

In [4]:
df_long = df_long[[
    'Year',
    'country code',
    'country name',
    'indicator code',
    'indicator name',
    'Value'
]]
df_long

,Year,country code,country name,indicator code,indicator name,Value
0,1975,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",0.036042
1,1976,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
2,1977,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
3,1978,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
4,1979,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
5,1980,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",0.134339
6,1981,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
7,1982,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
8,1983,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
9,1984,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
10,1985,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
11,1986,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
12,1987,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
13,1988,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
14,1989,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
15,1990,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
16,1991,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",None
17,1992,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",1.32451
18,1993,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",2.136141
19,1994,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",2.468264
20,1995,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",4.382185
21,1996,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",8.372554
22,1997,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",5.915642
23,1998,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",3.713331
24,1999,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",2.90642
25,2000,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",3.202576
26,2001,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",3.533377
27,2002,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",2.909348
28,2003,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",1.616517
29,2004,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",2.233717
30,2005,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",5.366039
31,2006,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",5.786571
32,2007,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",8.563346
33,2008,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",6.695908
34,2009,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",7.425426
35,2010,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",10.169807
36,2011,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.598451
37,2012,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",11.152491
38,2013,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",10.443059
39,2014,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",8.40902
40,2015,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",7.540297
41,2016,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.323185
42,2017,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.497602
43,2018,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.692403
44,2019,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.985
45,2020,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",10.41024
46,2021,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.468459
47,2022,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",8.948301
48,2023,KHM,Cambodia,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",9.350967

In [5]:
df_long.to_csv("22-Foreign direct investment, net inflows (% of GDP).csv", index=False)

### Function 02

In [75]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66b498b049eb6c00013c1281/json?page=1&page_size=10"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df

   procurement subject number of contracts contract price (million riels)
0                Goods               5,025                      1,748,553
1         Construction               2,161                      4,067,217
2             Services               1,062                         95,106
3  Consulting Services                   2                            624

In [76]:
df.dtypes

procurement subject               object
number of contracts               object
contract price (million riels)    object
dtype: object

In [77]:
# List of columns to clean
columns_to_clean = [
    'number of contracts',
    'contract price (million riels)',
]

# Remove commas and convert to numeric
for col in columns_to_clean:
    df[col] = df[col].astype(str).str.replace(',', '', regex=False)
    df[col] = pd.to_numeric(df[col])

df

   procurement subject  number of contracts  contract price (million riels)
0                Goods                 5025                         1748553
1         Construction                 2161                         4067217
2             Services                 1062                           95106
3  Consulting Services                    2                             624

In [78]:
df.dtypes

procurement subject               object
number of contracts                int64
contract price (million riels)     int64
dtype: object

In [79]:
df.to_csv("35-Statistic by Procurement type in 2023.csv", index=False)

In [250]:
# Transpose it properly
df_transposed = df.set_index("description").transpose().reset_index()

# Rename the index column (optional)
df_transposed = df_transposed.rename(columns={"index": "Quarter"})

In [251]:
df_transposed

description,Quarter,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index,None
0,q1 2024,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90,NaN
1,q2 2024,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14,NaN

In [252]:
df_transposed.columns.tolist()

['Quarter',
 'No. Trading Days',
 'No. of Listings (Stocks)*',
 'Total Trading Value (KHR)*',
 'Total Trading Volume (Shares)*',
 'Daily Average (KHR)*',
 'Market Capitalization (KHR)*',
 'Full Market Capitalization (KHR)*',
 'Closing Index',
 None]

In [253]:
# Fix the format from 'q1 2014' to '2014Q1'
df_transposed['Quarter'] = df_transposed['Quarter'].str.extract(r'([qQ]\d\s\d{4})')  # Extract clean quarter format
df_transposed['Quarter'] = df_transposed['Quarter'].str.replace(r'[qQ](\d)\s(\d{4})', r'\2Q\1', regex=True)

# Convert to datetime at the beginning of each quarter
df_transposed['Quarter'] = pd.PeriodIndex(df_transposed['Quarter'], freq='Q').to_timestamp()
df_transposed

description,Quarter,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index,None
0,2024-01-01,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90,NaN
1,2024-04-01,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14,NaN

In [254]:
df_transposed = df_transposed.rename(columns={'Quarter': 'Start_Date'})
df_transposed

description,Start_Date,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index,None
0,2024-01-01,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90,NaN
1,2024-04-01,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14,NaN

In [ ]:
df_transposed['Quarter'] = ['Q1', 'Q2']
df_transposed

description,Start_Date,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index,None,Quarter
0,2024-01-01,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90,NaN,Q1
1,2024-04-01,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14,NaN,Q2

In [256]:
# Calculate the end of the quarter using pandas' PeriodIndex
df_transposed['End_Date'] = pd.PeriodIndex(df_transposed['Start_Date'], freq='Q').end_time.strftime('%Y-%m-%d')
df_transposed

description,Start_Date,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index,None,Quarter,End_Date
0,2024-01-01,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90,NaN,Q1,2024-03-31
1,2024-04-01,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14,NaN,Q2,2024-06-30

In [257]:
df_transposed.columns.tolist()

['Start_Date',
 'No. Trading Days',
 'No. of Listings (Stocks)*',
 'Total Trading Value (KHR)*',
 'Total Trading Volume (Shares)*',
 'Daily Average (KHR)*',
 'Market Capitalization (KHR)*',
 'Full Market Capitalization (KHR)*',
 'Closing Index',
 None,
 'Quarter',
 'End_Date']

In [261]:
# Define the new column order
new_order = ['Start_Date', 'Quarter', 'End_Date',
 'No. Trading Days',
 'No. of Listings (Stocks)*',
 'Total Trading Value (KHR)*',
 'Total Trading Volume (Shares)*',
 'Daily Average (KHR)*',
 'Market Capitalization (KHR)*',
 'Full Market Capitalization (KHR)*',
 'Closing Index',
 ]

# Reorganize the columns
df_transposed = df_transposed[new_order]
df_transposed

description,Start_Date,Quarter,End_Date,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index
0,2024-01-01,Q1,2024-03-31,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90
1,2024-04-01,Q2,2024-06-30,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14

In [262]:
df_transposed.to_csv("45-Statistic Report Equity Securities, 2024.csv", index=False)

In [263]:
import pandas as pd
df = pd.read_csv("45-Statistic Report Equity Securities, 2024.csv")
df

,Start_Date,Quarter,End_Date,No. Trading Days,No. of Listings (Stocks)*,Total Trading Value (KHR)*,Total Trading Volume (Shares)*,Daily Average (KHR)*,Market Capitalization (KHR)*,Full Market Capitalization (KHR)*,Closing Index
0,2024-01-01,Q1,2024-03-31,63.0,11.0,2.103700e+10,3396026.0,333910000.0,1.237000e+13,2.098700e+13,456.90
1,2024-04-01,Q2,2024-06-30,59.0,11.0,5.302700e+10,10587037.0,898770000.0,1.121500e+13,1.960100e+13,414.14

### Function 03
---

#### Dataset: Statistics of Important Items Export from Jan-Nov 2022

In [15]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_675fd73e255e6c000124820b/json?page=1&page_size=10"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df

                           merchandise  export amount
0                              Clothes         9035.0
1                                Shoes         1737.0
2                     Travel Equipment         1777.0
3                             Bicycles         1998.0
4  Electrical Appliances and Equipment          900.0
5                                 Rice          948.0
6               Furniture and Lighting          542.0
7           Rubber and Rubber Products           42.0
8                                Sugar          998.0
9                                Other          416.0

In [16]:
df.dtypes

merchandise       object
export amount    float64
dtype: object

In [17]:
df = df.rename(columns={
    'áž‘áž¹áž€áž”áŸ’ážšáž¶áž€áŸ‹áž“áž¶áŸ†áž…áŸáž‰' : 'Export Amount (million USD)',
    'áž˜áž»ážáž‘áŸ†áž“áž·áž‰' : 'Merchandise'
})
df

                           merchandise  export amount
0                              Clothes         9035.0
1                                Shoes         1737.0
2                     Travel Equipment         1777.0
3                             Bicycles         1998.0
4  Electrical Appliances and Equipment          900.0
5                                 Rice          948.0
6               Furniture and Lighting          542.0
7           Rubber and Rubber Products           42.0
8                                Sugar          998.0
9                                Other          416.0

In [ ]:
df['Merchandise'] = df['Merchandise'].replace({
    'ážŸáž˜áŸ’áž›áŸ€áž€áž”áŸ†áž–áž¶áž€áŸ‹': 'Clothes',
    'ážŸáŸ’áž”áŸ‚áž€áž‡áž¾áž„': 'Shoes',
    'ážŸáž˜áŸ’áž—áž¶ážšáŸˆáž’áŸ’ážœáž¾ážŠáŸ†ážŽáž¾ážš': 'Travel Equipment',
    'áž€áž„áŸ‹': 'Bicycles',
    'áž˜áŸ‰áž¶ážŸáŸŠáž¸áž“áž”ážšáž·áž’áž¶áž“ áž“áž·áž„ážŸáž˜áŸ’áž—áž¶ážšáŸˆáž¢áž‚áŸ’áž‚áž·ážŸáž“áž¸': 'Electrical Appliances and Equipment',
    None: 'Other',
    'áž¢áž„áŸ’áž€ážš': 'Rice',
    'áž‚áŸ’ážšáž¿áž„ážŸáž„áŸ’áž áž¶ážšáž¹áž˜áž“áž·áž„áž”ážšáž·áž’áž¶áž“áž”áŸ†áž—áŸ’áž›ážº': 'Furniture and Lighting',
    'áž€áŸ…ážŸáŸŠáž¼ áž“áž·áž„áž•áž›áž·ážáž•áž›áž’áŸ’ážœáž¾áž–áž¸áž€áŸ…ážŸáŸŠáž¼': 'Rubber and Rubber Products',
    'ážŸáŸ’áž€ážšáž¢áŸ†áž–áŸ…': 'Sugar'
})
df

                           Merchandise  Export Amount
0                              Clothes         9035.0
1                                Shoes         1737.0
2                     Travel Equipment         1777.0
3                             Bicycles         1998.0
4  Electrical Appliances and Equipment          900.0
5                                Other          416.0
6                                 Rice          948.0
7               Furniture and Lighting          542.0
8           Rubber and Rubber Products           42.0
9                                Sugar          998.0

In [ ]:
# Move the 'Other' row to the bottom using pd.concat
df = pd.concat([df[df['Merchandise'] != 'Other'], df[df['Merchandise'] == 'Other']], ignore_index=True)
df

                           Merchandise  Export Amount
0                              Clothes         9035.0
1                                Shoes         1737.0
2                     Travel Equipment         1777.0
3                             Bicycles         1998.0
4  Electrical Appliances and Equipment          900.0
5                                 Rice          948.0
6               Furniture and Lighting          542.0
7           Rubber and Rubber Products           42.0
8                                Sugar          998.0
9                                Other          416.0

In [ ]:
df.to_csv('46-Statistics of Important Items Export from Jan-Nov 2022.csv', index=False)

In [44]:
df = pd.read_csv('46-Statistics of Important Items Export from Jan-Nov 2022.csv')
df

,Unnamed: 0,Merchandise,Export_Amount_(million_USD)
0,0,Clothes,9035.0
1,1,Shoes,1737.0
2,2,Travel Equipment,1777.0
3,3,Bicycles,1998.0
4,4,Electrical Appliances and Equipment,900.0
5,5,Rice,948.0
6,6,Furniture and Lighting,542.0
7,7,Rubber and Rubber Products,42.0
8,8,Sugar,998.0
9,9,Other,416.0

In [45]:
df = df.drop(columns=['Unnamed: 0'])

In [46]:
df = df.rename(columns={'Export Amount (million USD)': 'Export_Amount_(million_USD)'})
df

                           Merchandise  Export_Amount_(million_USD)
0                              Clothes                       9035.0
1                                Shoes                       1737.0
2                     Travel Equipment                       1777.0
3                             Bicycles                       1998.0
4  Electrical Appliances and Equipment                        900.0
5                                 Rice                        948.0
6               Furniture and Lighting                        542.0
7           Rubber and Rubber Products                         42.0
8                                Sugar                        998.0
9                                Other                        416.0

In [47]:
df.to_csv('46-Statistics of Important Items Export from Jan-Nov 2022.csv', index=False)

In [48]:
df.dtypes

Merchandise                     object
Export_Amount_(million_USD)    float64
dtype: object

---

In [84]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_676e57ac93d4f00001fc5722/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df

                    áž˜áž»ážáž‘áŸ†áž“áž·áž‰  áž‘áž¹áž€áž”áŸ’ážšáž¶áž€áŸ‹áž“áž¶áŸ†áž…áž¼áž›
0                  ážœáž¶áž™áž“áž—áŸážŽáŸ’ážŒ          5706.89
1          áž‚áŸ’ážšáž¿áž„áž¢áŸáž¡áž·áž…ážáŸ’ážšáž¼áž“áž·áž…          3320.43
2                ážŸáž˜áŸ’áž—áž¶ážšážŸáŸ†ážŽáž„áŸ‹          1479.21
3          áž”áŸ’ážšáŸáž„áž˜áŸ‰áž¶ážŸáŸŠáž¼áž(D.O)          1305.83
4                     ážšážáž™áž“áŸ’áž           907.79
5             áž”áŸ’ážšáŸáž„ážŸáž¶áŸ†áž„(E.A)           876.11
6              ážŠáŸ‚áž€ áž“áž·áž„ážŠáŸ‚áž€ážáŸ‚áž”           739.31
7      áž€áŸ’ážšážŠáž¶ážŸ áž“áž·áž„áž€áŸ’ážšážŠáž¶ážŸáž€áž¶ážáž»áž„           625.85
8          áž‚áŸ’ážšáž¿áž„áž§áž”áž—áŸ„áž‚ áž”ážšáž·áž—áŸ„áž‚           593.46
9     áž‡áž¸áž€ážŸáž·áž€áž˜áŸ’áž˜ áž“áž·áž„ážáŸ’áž“áž¶áŸ†ážŸáŸ’áž˜áŸ…           564.51
10                  áž’áŸ’áž™áž¼áž„ážáŸ’áž˜           526.09
11                  áž¢áž‚áŸ’áž‚áž·ážŸáž“áž¸           314.94
12           áž§ážŸáŸ’áž˜áŸáž“ážŸáŸ†ážšáž¶áž”áŸ‹ážŠáž»áž           308.15
13         áž³ážŸáž áž“áž·áž„áž¢áž¶áž áž¶ážšáž”áŸ†áž”áŸ‰áž“           264.03
14                  áž‘áž¹áž€ážŸáž»áž‘áŸ’áž’           248.43
15  áž‚áŸ’ážšáž¿áž„áž€áŸ’ážšáž¢áž¼áž” áž¬áž‚áŸ’ážšáž¿áž„ážŸáž˜áŸ’áž¢áž¶áž„           118.22

In [85]:
df = df.rename(columns={
    'áž‘áž¹áž€áž”áŸ’ážšáž¶áž€áŸ‹áž“áž¶áŸ†áž…áž¼áž›' : 'Import_Amount_(million_USD)',
    'áž˜áž»ážáž‘áŸ†áž“áž·áž‰' : 'Merchandise'
})
df

                 Merchandise  Import_Amount_(million_USD)
0                  ážœáž¶áž™áž“áž—áŸážŽáŸ’ážŒ                      5706.89
1          áž‚áŸ’ážšáž¿áž„áž¢áŸáž¡áž·áž…ážáŸ’ážšáž¼áž“áž·áž…                      3320.43
2                ážŸáž˜áŸ’áž—áž¶ážšážŸáŸ†ážŽáž„áŸ‹                      1479.21
3          áž”áŸ’ážšáŸáž„áž˜áŸ‰áž¶ážŸáŸŠáž¼áž(D.O)                      1305.83
4                     ážšážáž™áž“áŸ’áž                       907.79
5             áž”áŸ’ážšáŸáž„ážŸáž¶áŸ†áž„(E.A)                       876.11
6              ážŠáŸ‚áž€ áž“áž·áž„ážŠáŸ‚áž€ážáŸ‚áž”                       739.31
7      áž€áŸ’ážšážŠáž¶ážŸ áž“áž·áž„áž€áŸ’ážšážŠáž¶ážŸáž€áž¶ážáž»áž„                       625.85
8          áž‚áŸ’ážšáž¿áž„áž§áž”áž—áŸ„áž‚ áž”ážšáž·áž—áŸ„áž‚                       593.46
9     áž‡áž¸áž€ážŸáž·áž€áž˜áŸ’áž˜ áž“áž·áž„ážáŸ’áž“áž¶áŸ†ážŸáŸ’áž˜áŸ…                       564.51
10                  áž’áŸ’áž™áž¼áž„ážáŸ’áž˜                       526.09
11                  áž¢áž‚áŸ’áž‚áž·ážŸáž“áž¸                       314.94
12           áž§ážŸáŸ’áž˜áŸáž“ážŸáŸ†ážšáž¶áž”áŸ‹ážŠáž»áž                       308.15
13         áž³ážŸáž áž“áž·áž„áž¢áž¶áž áž¶ážšáž”áŸ†áž”áŸ‰áž“                       264.03
14                  áž‘áž¹áž€ážŸáž»áž‘áŸ’áž’                       248.43
15  áž‚áŸ’ážšáž¿áž„áž€áŸ’ážšáž¢áž¼áž” áž¬áž‚áŸ’ážšáž¿áž„ážŸáž˜áŸ’áž¢áž¶áž„                       118.22

In [86]:
# Replace Khmer 'Merchandise' values with English equivalents
df['Merchandise'] = df['Merchandise'].replace({
    'ážœáž¶áž™áž“áž—áŸážŽáŸ’ážŒ': 'Textiles',
    'áž‚áŸ’ážšáž¿áž„áž¢áŸáž¡áž·áž…ážáŸ’ážšáž¼áž“áž·áž…': 'Electronics',
    'ážŸáž˜áŸ’áž—áž¶ážšážŸáŸ†ážŽáž„áŸ‹': 'Construction Materials',
    'áž”áŸ’ážšáŸáž„áž˜áŸ‰áž¶ážŸáŸŠáž¼áž(D.O)': 'Gasoil ppm (D.O)',
    'ážšážáž™áž“áŸ’áž': 'Vehicles',
    'áž”áŸ’ážšáŸáž„ážŸáž¶áŸ†áž„(E.A)': 'Gasoline',
    'ážŠáŸ‚áž€ áž“áž·áž„ážŠáŸ‚áž€ážáŸ‚áž”': 'Iron and Steel',
    'áž€áŸ’ážšážŠáž¶ážŸ áž“áž·áž„áž€áŸ’ážšážŠáž¶ážŸáž€áž¶ážáž»áž„': 'Paper and Carton',
    'áž‚áŸ’ážšáž¿áž„áž§áž”áž—áŸ„áž‚ áž”ážšáž·áž—áŸ„áž‚': 'Food and Beverage Equipment',
    'áž‡áž¸áž€ážŸáž·áž€áž˜áŸ’áž˜ áž“áž·áž„ážáŸ’áž“áž¶áŸ†ážŸáŸ’áž˜áŸ…': 'Agricultural Fertilizers and Herbicides',
    'áž’áŸ’áž™áž¼áž„ážáŸ’áž˜': 'Coal',
    'áž¢áž‚áŸ’áž‚áž·ážŸáž“áž¸': 'Electricity',
    'áž§ážŸáŸ’áž˜áŸáž“ážŸáŸ†ážšáž¶áž”áŸ‹ážŠáž»áž': 'Combustion Gas',
    'áž³ážŸáž áž“áž·áž„áž¢áž¶áž áž¶ážšáž”áŸ†áž”áŸ‰áž“': 'Pharmaceutical and Nutritional Products',
    'áž‘áž¹áž€ážŸáž»áž‘áŸ’áž’': 'Purified Water',
    'áž‚áŸ’ážšáž¿áž„áž€áŸ’ážšáž¢áž¼áž” áž¬áž‚áŸ’ážšáž¿áž„ážŸáž˜áŸ’áž¢áž¶áž„': 'Perfumes or Cosmetics'
})
df

                                Merchandise  Import_Amount_(million_USD)
0                                  Textiles                      5706.89
1                               Electronics                      3320.43
2                    Construction Materials                      1479.21
3                          Gasoil ppm (D.O)                      1305.83
4                                  Vehicles                       907.79
5                                  Gasoline                       876.11
6                            Iron and Steel                       739.31
7                          Paper and Carton                       625.85
8               Food and Beverage Equipment                       593.46
9   Agricultural Fertilizers and Herbicides                       564.51
10                                     Coal                       526.09
11                              Electricity                       314.94
12                           Combustion Gas                       308.15
13  Pharmaceutical and Nutritional Products                       264.03
14                           Purified Water                       248.43
15                    Perfumes or Cosmetics                       118.22

In [87]:
df.to_csv('50-Statistics of Important Items Import from Jan-Nov 2024.csv', index=False)

---

#### Function 04

In [13]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_6768dd0b31140500019758c5/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df

,staff,2018,2019,2020,2021,2022
0,Doctor / Specialist,3432.0,3578.0,3523.0,3923.0,4547.0
1,Intermediate Physician,613.0,597.0,580.0,599.0,561.0
2,Pharmacist / Doctor / Intermediate / Primary,745.0,784.0,762.0,859.0,958.0
3,Nurse,497.0,507.0,500.0,546.0,605.0
4,Bachelor of Midwifery,272.0,321.0,349.0,458.0,551.0
5,Midwifery,4279.0,4621.0,4517.0,5426.0,6144.0
6,Primary midwife,2256.0,2186.0,2122.0,2127.0,2097.0
7,Bachelor of Nursing,215.0,259.0,263.0,444.0,667.0
8,Intermediate Nursing,7912.0,8111.0,7911.0,9194.0,10315.0
9,Primary Nurse,2864.0,2706.0,2635.0,2671.0,2568.0
10,Laboratory Technician/Bachelor/Intermediate/Pr...,862.0,883.0,868.0,1163.0,1296.0
11,Physiotherapist,216.0,217.0,216.0,213.0,240.0
12,Radiology,107.0,119.0,115.0,124.0,145.0
13,Non-health Skills,1168.0,1148.0,1088.0,1383.0,1546.0

In [15]:
# Transpose it properly
df_transposed = df.set_index("staff").transpose().reset_index()
df_transposed

staff,index,Doctor / Specialist,Intermediate Physician,Pharmacist / Doctor / Intermediate / Primary,Nurse,Bachelor of Midwifery,Midwifery,Primary midwife,Bachelor of Nursing,Intermediate Nursing,Primary Nurse,Laboratory Technician/Bachelor/Intermediate/Primary,Physiotherapist,Radiology,Non-health Skills
0,2018,3432.0,613.0,745.0,497.0,272.0,4279.0,2256.0,215.0,7912.0,2864.0,862.0,216.0,107.0,1168.0
1,2019,3578.0,597.0,784.0,507.0,321.0,4621.0,2186.0,259.0,8111.0,2706.0,883.0,217.0,119.0,1148.0
2,2020,3523.0,580.0,762.0,500.0,349.0,4517.0,2122.0,263.0,7911.0,2635.0,868.0,216.0,115.0,1088.0
3,2021,3923.0,599.0,859.0,546.0,458.0,5426.0,2127.0,444.0,9194.0,2671.0,1163.0,213.0,124.0,1383.0
4,2022,4547.0,561.0,958.0,605.0,551.0,6144.0,2097.0,667.0,10315.0,2568.0,1296.0,240.0,145.0,1546.0

In [16]:
# Rename the index column (optional)
df_transposed = df_transposed.rename(columns={"index": "Year"})
df_transposed

staff,Year,Doctor / Specialist,Intermediate Physician,Pharmacist / Doctor / Intermediate / Primary,Nurse,Bachelor of Midwifery,Midwifery,Primary midwife,Bachelor of Nursing,Intermediate Nursing,Primary Nurse,Laboratory Technician/Bachelor/Intermediate/Primary,Physiotherapist,Radiology,Non-health Skills
0,2018,3432.0,613.0,745.0,497.0,272.0,4279.0,2256.0,215.0,7912.0,2864.0,862.0,216.0,107.0,1168.0
1,2019,3578.0,597.0,784.0,507.0,321.0,4621.0,2186.0,259.0,8111.0,2706.0,883.0,217.0,119.0,1148.0
2,2020,3523.0,580.0,762.0,500.0,349.0,4517.0,2122.0,263.0,7911.0,2635.0,868.0,216.0,115.0,1088.0
3,2021,3923.0,599.0,859.0,546.0,458.0,5426.0,2127.0,444.0,9194.0,2671.0,1163.0,213.0,124.0,1383.0
4,2022,4547.0,561.0,958.0,605.0,551.0,6144.0,2097.0,667.0,10315.0,2568.0,1296.0,240.0,145.0,1546.0

In [17]:
df_transposed.dtypes

staff
Year                                                    object
Doctor / Specialist                                    float64
Intermediate Physician                                 float64
Pharmacist / Doctor / Intermediate / Primary           float64
Nurse                                                  float64
Bachelor of Midwifery                                  float64
Midwifery                                              float64
Primary midwife                                        float64
Bachelor of Nursing                                    float64
Intermediate Nursing                                   float64
Primary Nurse                                          float64
Laboratory Technician/Bachelor/Intermediate/Primary    float64
Physiotherapist                                        float64
Radiology                                              float64
Non-health Skills                                      float64
dtype: object

In [18]:
df_transposed['Year'] = df_transposed['Year'].astype('Int64')
df_transposed

staff,Year,Doctor / Specialist,Intermediate Physician,Pharmacist / Doctor / Intermediate / Primary,Nurse,Bachelor of Midwifery,Midwifery,Primary midwife,Bachelor of Nursing,Intermediate Nursing,Primary Nurse,Laboratory Technician/Bachelor/Intermediate/Primary,Physiotherapist,Radiology,Non-health Skills
0,2018,3432.0,613.0,745.0,497.0,272.0,4279.0,2256.0,215.0,7912.0,2864.0,862.0,216.0,107.0,1168.0
1,2019,3578.0,597.0,784.0,507.0,321.0,4621.0,2186.0,259.0,8111.0,2706.0,883.0,217.0,119.0,1148.0
2,2020,3523.0,580.0,762.0,500.0,349.0,4517.0,2122.0,263.0,7911.0,2635.0,868.0,216.0,115.0,1088.0
3,2021,3923.0,599.0,859.0,546.0,458.0,5426.0,2127.0,444.0,9194.0,2671.0,1163.0,213.0,124.0,1383.0
4,2022,4547.0,561.0,958.0,605.0,551.0,6144.0,2097.0,667.0,10315.0,2568.0,1296.0,240.0,145.0,1546.0

In [19]:
df_transposed.dtypes

staff
Year                                                     Int64
Doctor / Specialist                                    float64
Intermediate Physician                                 float64
Pharmacist / Doctor / Intermediate / Primary           float64
Nurse                                                  float64
Bachelor of Midwifery                                  float64
Midwifery                                              float64
Primary midwife                                        float64
Bachelor of Nursing                                    float64
Intermediate Nursing                                   float64
Primary Nurse                                          float64
Laboratory Technician/Bachelor/Intermediate/Primary    float64
Physiotherapist                                        float64
Radiology                                              float64
Non-health Skills                                      float64
dtype: object

In [20]:
df_transposed.to_csv("52-Statistics of Public Health Staff in Cambodia in 2018-2022.csv", index=False)

In [21]:
df = pd.read_csv("52-Statistics of Public Health Staff in Cambodia in 2018-2022.csv")
df

,Year,Doctor / Specialist,Intermediate Physician,Pharmacist / Doctor / Intermediate / Primary,Nurse,Bachelor of Midwifery,Midwifery,Primary midwife,Bachelor of Nursing,Intermediate Nursing,Primary Nurse,Laboratory Technician/Bachelor/Intermediate/Primary,Physiotherapist,Radiology,Non-health Skills
0,2018,3432.0,613.0,745.0,497.0,272.0,4279.0,2256.0,215.0,7912.0,2864.0,862.0,216.0,107.0,1168.0
1,2019,3578.0,597.0,784.0,507.0,321.0,4621.0,2186.0,259.0,8111.0,2706.0,883.0,217.0,119.0,1148.0
2,2020,3523.0,580.0,762.0,500.0,349.0,4517.0,2122.0,263.0,7911.0,2635.0,868.0,216.0,115.0,1088.0
3,2021,3923.0,599.0,859.0,546.0,458.0,5426.0,2127.0,444.0,9194.0,2671.0,1163.0,213.0,124.0,1383.0
4,2022,4547.0,561.0,958.0,605.0,551.0,6144.0,2097.0,667.0,10315.0,2568.0,1296.0,240.0,145.0,1546.0

-----

#### Function 05

In [52]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_67e4cc07dbc953000126f565/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()

# Extract the 'items' list
items = data02['items']
df = pd.DataFrame(items)
df = df.drop(columns=['row_number'])
df

   statistics of total market  fy 2024
0                        ážŸážšáž»áž”   2242.0
1                     áž—áŸ’áž“áŸ†áž–áŸáž‰    478.0
2                   áž€áŸ†áž–áž„áŸ‹ážŸáŸ’áž–ážº    148.0
3                    áž”áž¶ážáŸ‹ážŠáŸ†áž”áž„    137.0
4                        áž€áŸ†áž–áž     96.0
5                      áž€ážŽáŸ’ážáž¶áž›    197.0
6                         áž€áŸ‚áž”     17.0
7                      áž€áŸ’ážšáž…áŸáŸ‡     71.0
8                  ážáŸ’áž”áž¼áž„ážƒáŸ’áž˜áž»áŸ†     42.0
9                      áž”áŸ‰áŸƒáž›áž·áž“     18.0
10                  áž–áŸ„áž’áž·áŸážŸáž¶ážáŸ‹     48.0
11                    áž–áŸ’ážšáŸƒážœáŸ‚áž„     75.0
12                    ážšážáž“áž‚áž·ážšáž¸      4.0
13                     ážŸáŸ€áž˜ážšáž¶áž”     96.0
14                  áž–áŸ’ážšáŸ‡ážœáž·áž áž¶ážš     30.0
15                  áž–áŸ’ážšáŸ‡ážŸáž¸áž áž“áž»    111.0
16                 ážŸáŸ’áž‘áž¹áž„ážáŸ’ážšáŸ‚áž„     15.0
17                   ážŸáŸ’ážœáž¶áž™ážšáŸ€áž„     66.0
18                   áž€áŸ†áž–áž„áŸ‹áž…áž¶áž˜    110.0
19                áž€áŸ†áž–áž„áŸ‹áž†áŸ’áž“áž¶áŸ†áž„     71.0
20                    áž€áŸ†áž–áž„áŸ‹áž’áŸ†     52.0
21                  áž˜ážŽáŸ’ážŒáž›áž‚áž·ážšáž¸     20.0
22                     áž€áŸ„áŸ‡áž€áž»áž„    116.0
23                      ážáž¶áž€áŸ‚ážœ     79.0
24               áž”áž“áŸ’áž‘áž¶áž™áž˜áž¶áž“áž‡áŸáž™    115.0
25                áž§ážáŸ’ážážšáž˜áž¶áž“áž‡áŸáž™     30.0

In [53]:
df = df.rename(columns={
    'statistics of total market' : 'Capital_Province',
    'fy 2024' : 'Total_Amount_of_Market',
})
df

   Capital_Province  Total_Amount_of_Market
0              ážŸážšáž»áž”                  2242.0
1           áž—áŸ’áž“áŸ†áž–áŸáž‰                   478.0
2         áž€áŸ†áž–áž„áŸ‹ážŸáŸ’áž–ážº                   148.0
3          áž”áž¶ážáŸ‹ážŠáŸ†áž”áž„                   137.0
4              áž€áŸ†áž–áž                    96.0
5            áž€ážŽáŸ’ážáž¶áž›                   197.0
6               áž€áŸ‚áž”                    17.0
7            áž€áŸ’ážšáž…áŸáŸ‡                    71.0
8        ážáŸ’áž”áž¼áž„ážƒáŸ’áž˜áž»áŸ†                    42.0
9            áž”áŸ‰áŸƒáž›áž·áž“                    18.0
10        áž–áŸ„áž’áž·áŸážŸáž¶ážáŸ‹                    48.0
11          áž–áŸ’ážšáŸƒážœáŸ‚áž„                    75.0
12          ážšážáž“áž‚áž·ážšáž¸                     4.0
13           ážŸáŸ€áž˜ážšáž¶áž”                    96.0
14        áž–áŸ’ážšáŸ‡ážœáž·áž áž¶ážš                    30.0
15        áž–áŸ’ážšáŸ‡ážŸáž¸áž áž“áž»                   111.0
16       ážŸáŸ’áž‘áž¹áž„ážáŸ’ážšáŸ‚áž„                    15.0
17         ážŸáŸ’ážœáž¶áž™ážšáŸ€áž„                    66.0
18         áž€áŸ†áž–áž„áŸ‹áž…áž¶áž˜                   110.0
19      áž€áŸ†áž–áž„áŸ‹áž†áŸ’áž“áž¶áŸ†áž„                    71.0
20          áž€áŸ†áž–áž„áŸ‹áž’áŸ†                    52.0
21        áž˜ážŽáŸ’ážŒáž›áž‚áž·ážšáž¸                    20.0
22           áž€áŸ„áŸ‡áž€áž»áž„                   116.0
23            ážáž¶áž€áŸ‚ážœ                    79.0
24     áž”áž“áŸ’áž‘áž¶áž™áž˜áž¶áž“áž‡áŸáž™                   115.0
25      áž§ážáŸ’ážážšáž˜áž¶áž“áž‡áŸáž™                    30.0

In [54]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66a8603700604c000123e144/json?page=1&page_size=100"
response2 = requests.get(url)
data02 = response2.json()

# Extract the 'items' list
items = data02['items']
df_geo = pd.DataFrame(items)
df_geo['full_name'] = df_geo['type'] + df_geo['name_km']
df_geo.head()

     type code       name_km           name_en  row_number           full_name
0  ážáŸážáŸ’ážâ€‹   01  áž”áž“áŸ’áž‘áž¶áž™áž˜áž¶áž“áž‡áŸáž™  Banteay Meanchey           1  ážáŸážáŸ’ážâ€‹áž”áž“áŸ’áž‘áž¶áž™áž˜áž¶áž“áž‡áŸáž™
1  ážáŸážáŸ’ážâ€‹   02      áž”áž¶ážáŸ‹ážŠáŸ†áž”áž„        Battambang           2      ážáŸážáŸ’ážâ€‹áž”áž¶ážáŸ‹ážŠáŸ†áž”áž„
2  ážáŸážáŸ’ážâ€‹   03      áž€áŸ†áž–áž„áŸ‹áž…áž¶áž˜      Kampong Cham           3      ážáŸážáŸ’ážâ€‹áž€áŸ†áž–áž„áŸ‹áž…áž¶áž˜
3  ážáŸážáŸ’ážâ€‹   04   áž€áŸ†áž–áž„áŸ‹áž†áŸ’áž“áž¶áŸ†áž„   Kampong Chhnang           4   ážáŸážáŸ’ážâ€‹áž€áŸ†áž–áž„áŸ‹áž†áŸ’áž“áž¶áŸ†áž„
4  ážáŸážáŸ’ážâ€‹   05     áž€áŸ†áž–áž„áŸ‹ážŸáŸ’áž–ážº      Kampong Speu           5     ážáŸážáŸ’ážâ€‹áž€áŸ†áž–áž„áŸ‹ážŸáŸ’áž–ážº

In [55]:
# Step 1: Create a mapping dictionary from Khmer to English
province_map = df_geo.set_index('name_km')['name_en'].to_dict()

# Step 2: Replace Khmer names in df2 using the mapping
df['Capital_Province'] = df['Capital_Province'].replace(province_map)
df

    Capital_Province  Total_Amount_of_Market
0               ážŸážšáž»áž”                  2242.0
1            áž—áŸ’áž“áŸ†áž–áŸáž‰                   478.0
2       Kampong Speu                   148.0
3         Battambang                   137.0
4             Kampot                    96.0
5             áž€ážŽáŸ’ážáž¶áž›                   197.0
6                Kep                    17.0
7             Kratie                    71.0
8       Tboung Khmum                    42.0
9             Pailin                    18.0
10            Pursat                    48.0
11         Prey Veng                    75.0
12      Ratanak Kiri                     4.0
13          Siemreap                    96.0
14      Preah Vihear                    30.0
15    Preah Sihanouk                   111.0
16       Stung Treng                    15.0
17        Svay Rieng                    66.0
18      Kampong Cham                   110.0
19   Kampong Chhnang                    71.0
20      Kampong Thom                    52.0
21       Mondul Kiri                    20.0
22          Koh Kong                   116.0
23             Takeo                    79.0
24  Banteay Meanchey                   115.0
25       áž§ážáŸ’ážážšáž˜áž¶áž“áž‡áŸáž™                    30.0

In [56]:
# Replace Khmer 'Merchandise' values with English equivalents
df['Capital_Province'] = df['Capital_Province'].replace({
    'ážŸážšáž»áž”' : 'Total',
    'áž—áŸ’áž“áŸ†áž–áŸáž‰' : 'Phnom Penh',
    'áž§ážáŸ’ážážšáž˜áž¶áž“áž‡áŸáž™' : 'Oddor Meanchey',
})
df

    Capital_Province  Total_Amount_of_Market
0              Total                  2242.0
1         Phnom Penh                   478.0
2       Kampong Speu                   148.0
3         Battambang                   137.0
4             Kampot                    96.0
5             áž€ážŽáŸ’ážáž¶áž›                   197.0
6                Kep                    17.0
7             Kratie                    71.0
8       Tboung Khmum                    42.0
9             Pailin                    18.0
10            Pursat                    48.0
11         Prey Veng                    75.0
12      Ratanak Kiri                     4.0
13          Siemreap                    96.0
14      Preah Vihear                    30.0
15    Preah Sihanouk                   111.0
16       Stung Treng                    15.0
17        Svay Rieng                    66.0
18      Kampong Cham                   110.0
19   Kampong Chhnang                    71.0
20      Kampong Thom                    52.0
21       Mondul Kiri                    20.0
22          Koh Kong                   116.0
23             Takeo                    79.0
24  Banteay Meanchey                   115.0
25    Oddor Meanchey                    30.0

In [57]:
df = df.drop(index=df[df['Capital_Province'] == 'Total'].index)
df

    Capital_Province  Total_Amount_of_Market
1         Phnom Penh                   478.0
2       Kampong Speu                   148.0
3         Battambang                   137.0
4             Kampot                    96.0
5             áž€ážŽáŸ’ážáž¶áž›                   197.0
6                Kep                    17.0
7             Kratie                    71.0
8       Tboung Khmum                    42.0
9             Pailin                    18.0
10            Pursat                    48.0
11         Prey Veng                    75.0
12      Ratanak Kiri                     4.0
13          Siemreap                    96.0
14      Preah Vihear                    30.0
15    Preah Sihanouk                   111.0
16       Stung Treng                    15.0
17        Svay Rieng                    66.0
18      Kampong Cham                   110.0
19   Kampong Chhnang                    71.0
20      Kampong Thom                    52.0
21       Mondul Kiri                    20.0
22          Koh Kong                   116.0
23             Takeo                    79.0
24  Banteay Meanchey                   115.0
25    Oddor Meanchey                    30.0

In [58]:
df.to_csv("54-Statistics of Total market in 2024.csv", index=False)

In [59]:
df.dtypes

Capital_Province           object
Total_Amount_of_Market    float64
dtype: object

---

In [83]:
df = pd.read_csv("55-SupporttoSocialProtectionMarkersinCambodia,2020.csv")
df

,Social Protection Markers,2020 Act. (USD Thousand),2021 Est. (USD Thousand),2022 Proj. (USD Thousand),2023 Plan (USD Thousand),# of Projects,Unnamed: 6
0,Social Assistance: Emergency Response,324.8,"6,013.10",376.5,415.9,2,NaN
1,Social Assistance: Human Capital Development,"9,012.00","10,243.20","6,956.80","6,751.10",3,NaN
2,Social Assistance: Social Welfare of Vulnerabl...,"1,072.90","1,067.30","1,208.70",0,5,NaN
3,Social Assistance: TVET,0,880.3,307.8,114,1,NaN

In [84]:
df = df.drop(columns=['Unnamed: 6'])
df

,Social Protection Markers,2020 Act. (USD Thousand),2021 Est. (USD Thousand),2022 Proj. (USD Thousand),2023 Plan (USD Thousand),# of Projects
0,Social Assistance: Emergency Response,324.8,"6,013.10",376.5,415.9,2
1,Social Assistance: Human Capital Development,"9,012.00","10,243.20","6,956.80","6,751.10",3
2,Social Assistance: Social Welfare of Vulnerabl...,"1,072.90","1,067.30","1,208.70",0,5
3,Social Assistance: TVET,0,880.3,307.8,114,1

In [88]:
df.rename(columns={'# of Projects': 'Number_of_Projects'}, inplace=True)
df

,Social Protection Markers,2020 Act. (USD Thousand),2021 Est. (USD Thousand),2022 Proj. (USD Thousand),2023 Plan (USD Thousand),Number_of_Projects
0,Social Assistance: Emergency Response,324.8,6013.1,376.5,415.9,2
1,Social Assistance: Human Capital Development,9012.0,10243.2,6956.8,6751.1,3
2,Social Assistance: Social Welfare of Vulnerabl...,1072.9,1067.3,1208.7,0.0,5
3,Social Assistance: TVET,0.0,880.3,307.8,114.0,1

In [89]:
df.dtypes

Social Protection Markers     object
2020 Act. (USD Thousand)     float64
2021 Est. (USD Thousand)     float64
2022 Proj. (USD Thousand)    float64
2023 Plan (USD Thousand)     float64
Number_of_Projects             int64
dtype: object

In [90]:
# Convert relevant columns to numeric
cols_to_convert = [
    '2020 Act. (USD Thousand)',
    '2021 Est. (USD Thousand)',
    '2022 Proj. (USD Thousand)',
    '2023 Plan (USD Thousand)'
]

# Remove commas and convert to float
df[cols_to_convert] = df[cols_to_convert].replace(',', '', regex=True).astype(float)
df.dtypes

Social Protection Markers     object
2020 Act. (USD Thousand)     float64
2021 Est. (USD Thousand)     float64
2022 Proj. (USD Thousand)    float64
2023 Plan (USD Thousand)     float64
Number_of_Projects             int64
dtype: object

In [91]:
df.to_csv('56-Support to Social Protection Markers in Cambodia, 2020.csv', index=False)

------
------

In [104]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66ab610cbcc3db0001df6726/json?page=1&page_size=100"
response2 = requests.get(url)
data02 = response2.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

,development partner,2020 act. (usd thousand),2021 est. (usd thousand),2022 proj. (usd thousand),2023 plan (usd thousand)
0,EU,1090.8,3651.5,2926.7,2432.2
1,Germany,0.0,297.2,3087.4,3473.1
2,ILO,0.0,250.0,337.5,112.5
3,Japan,0.0,1911.3,0.0,0.0
4,Republic of Korea,50000.0,0.0,0.0,0.0
5,Sweden,2048.1,0.0,0.0,0.0
6,Switzerland,169.4,43.9,0.0,0.0
7,UK,288.3,0.0,0.0,0.0
8,UNDP,450.3,643.4,749.3,37.4
9,UNICEF,1150.0,2368.3,690.6,704.8

In [105]:
df.columns.tolist()

['development partner',
 '2020 act. (usd thousand)',
 '2021 est. (usd thousand)',
 '2022 proj. (usd thousand)',
 '2023 plan (usd thousand)']

In [106]:
df.rename(columns={
    'development partner': 'Development_Partner',
    '2020 act. (usd thousand)': '2020 Act',
    '2021 est. (usd thousand)': '2021 Est.',
    '2022 proj. (usd thousand)': '2022 Proj.',
    '2023 plan (usd thousand)': '2023 Plan'
}, inplace=True)
df

  Development_Partner  2020 Act  2021 Est.  2022 Proj.  2023 Plan
0                  EU    1090.8     3651.5      2926.7     2432.2
1             Germany       0.0      297.2      3087.4     3473.1
2                 ILO       0.0      250.0       337.5      112.5
3               Japan       0.0     1911.3         0.0        0.0
4   Republic of Korea   50000.0        0.0         0.0        0.0
5              Sweden    2048.1        0.0         0.0        0.0
6         Switzerland     169.4       43.9         0.0        0.0
7                  UK     288.3        0.0         0.0        0.0
8                UNDP     450.3      643.4       749.3       37.4
9              UNICEF    1150.0     2368.3       690.6      704.8

In [107]:
df['Unit'] = "Thousand USD"
df

,Development_Partner,2020 Act,2021 Est.,2022 Proj.,2023 Plan,Unit
0,EU,1090.8,3651.5,2926.7,2432.2,Thousand USD
1,Germany,0.0,297.2,3087.4,3473.1,Thousand USD
2,ILO,0.0,250.0,337.5,112.5,Thousand USD
3,Japan,0.0,1911.3,0.0,0.0,Thousand USD
4,Republic of Korea,50000.0,0.0,0.0,0.0,Thousand USD
5,Sweden,2048.1,0.0,0.0,0.0,Thousand USD
6,Switzerland,169.4,43.9,0.0,0.0,Thousand USD
7,UK,288.3,0.0,0.0,0.0,Thousand USD
8,UNDP,450.3,643.4,749.3,37.4,Thousand USD
9,UNICEF,1150.0,2368.3,690.6,704.8,Thousand USD

In [108]:
df.to_csv('57-Support to Social Protection Sector by Development Partner in Cambodia, 2020 - 2023.csv', index=False)

----

In [114]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_6750084463ddef0001b3c54e/json?page=1&page_size=100"
response2 = requests.get(url)
data02 = response2.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

,áž…áŸ†áž“áž½áž“áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš,áž˜áž€ážšáž¶,áž€áž»áž˜áŸ’áž—áŸˆ,áž˜áž¸áž“áž¶,áž˜áŸážŸáž¶,áž§ážŸáž—áž¶,áž˜áž·ážáž»áž“áž¶,áž€áž€áŸ’áž€ážŠáž¶,ážŸáž¸áž áž¶,áž€áž‰áŸ’áž‰áž¶,ážáž»áž›áž¶,ážœáž·áž…áŸ’áž†áž·áž€áž¶,áž’áŸ’áž“áž¼
0,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšáž€áŸ’áž“áž»áž„ážŸáŸ’ážšáž»áž€,1485901.0,1287167.0,1094242.0,None,None,None,None,None,None,None,None,None
1,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšážŽáž¢áž“áŸ’ážážšáž‡áž¶ážáž·,540023.0,448526.0,594102.0,None,None,None,None,None,None,None,None,None
2,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšâ€‹áž¢áž“áŸ’ážážšáž‡áž¶ážáž·áž‘áž·áž‰ážŸáŸ†áž”áž»ážáŸ’ážšáž–áž¸áž‚áŸ’ážšáž¹áŸ‡ážŸáŸ’ážáž¶áž“áž¢áž„áŸ’áž‚ážš,115532.0,120318.0,111684.0,73845.00,50879.00,49692.00,None,None,None,None,None,None

In [115]:
df = df.transpose().reset_index()
df.columns = df.iloc[0]  # Set the first row as the header
df

,áž…áŸ†áž“áž½áž“áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšáž€áŸ’áž“áž»áž„ážŸáŸ’ážšáž»áž€,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšážŽáž¢áž“áŸ’ážážšáž‡áž¶ážáž·,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšâ€‹áž¢áž“áŸ’ážážšáž‡áž¶ážáž·áž‘áž·áž‰ážŸáŸ†áž”áž»ážáŸ’ážšáž–áž¸áž‚áŸ’ážšáž¹áŸ‡ážŸáŸ’ážáž¶áž“áž¢áž„áŸ’áž‚ážš
0,áž…áŸ†áž“áž½áž“áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšáž€áŸ’áž“áž»áž„ážŸáŸ’ážšáž»áž€,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšážŽáž¢áž“áŸ’ážážšáž‡áž¶ážáž·,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšâ€‹áž¢áž“áŸ’ážážšáž‡áž¶ážáž·áž‘áž·áž‰ážŸáŸ†áž”áž»ážáŸ’ážšáž–áž¸áž‚áŸ’ážšáž¹áŸ‡ážŸáŸ’ážáž¶áž“áž¢áž„áŸ’áž‚ážš
1,áž˜áž€ážšáž¶,1485901.0,540023.0,115532.0
2,áž€áž»áž˜áŸ’áž—áŸˆ,1287167.0,448526.0,120318.0
3,áž˜áž¸áž“áž¶,1094242.0,594102.0,111684.0
4,áž˜áŸážŸáž¶,None,None,73845.00
5,áž§ážŸáž—áž¶,None,None,50879.00
6,áž˜áž·ážáž»áž“áž¶,None,None,49692.00
7,áž€áž€áŸ’áž€ážŠáž¶,None,None,None
8,ážŸáž¸áž áž¶,None,None,None
9,áž€áž‰áŸ’áž‰áž¶,None,None,None
10,ážáž»áž›áž¶,None,None,None
11,ážœáž·áž…áŸ’áž†áž·áž€áž¶,None,None,None
12,áž’áŸ’áž“áž¼,None,None,None

In [116]:
df = df.drop(df.index[0])  # Drop the first row which is now the header
df

,áž…áŸ†áž“áž½áž“áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšáž€áŸ’áž“áž»áž„ážŸáŸ’ážšáž»áž€,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšážŽáž¢áž“áŸ’ážážšáž‡áž¶ážáž·,áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšâ€‹áž¢áž“áŸ’ážážšáž‡áž¶ážáž·áž‘áž·áž‰ážŸáŸ†áž”áž»ážáŸ’ážšáž–áž¸áž‚áŸ’ážšáž¹áŸ‡ážŸáŸ’ážáž¶áž“áž¢áž„áŸ’áž‚ážš
1,áž˜áž€ážšáž¶,1485901.0,540023.0,115532.0
2,áž€áž»áž˜áŸ’áž—áŸˆ,1287167.0,448526.0,120318.0
3,áž˜áž¸áž“áž¶,1094242.0,594102.0,111684.0
4,áž˜áŸážŸáž¶,None,None,73845.00
5,áž§ážŸáž—áž¶,None,None,50879.00
6,áž˜áž·ážáž»áž“áž¶,None,None,49692.00
7,áž€áž€áŸ’áž€ážŠáž¶,None,None,None
8,ážŸáž¸áž áž¶,None,None,None
9,áž€áž‰áŸ’áž‰áž¶,None,None,None
10,ážáž»áž›áž¶,None,None,None
11,ážœáž·áž…áŸ’áž†áž·áž€áž¶,None,None,None
12,áž’áŸ’áž“áž¼,None,None,None

In [117]:
df.columns.tolist()

['áž…áŸ†áž“áž½áž“áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš',
 'áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšáž€áŸ’áž“áž»áž„ážŸáŸ’ážšáž»áž€',
 'áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšážŽáž¢áž“áŸ’ážážšáž‡áž¶ážáž·',
 'áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš\u200báž¢áž“áŸ’ážážšáž‡áž¶ážáž·áž‘áž·áž‰ážŸáŸ†áž”áž»ážáŸ’ážšáž–áž¸áž‚áŸ’ážšáž¹áŸ‡ážŸáŸ’ážáž¶áž“áž¢áž„áŸ’áž‚ážš']

In [118]:
df = df.rename(columns={
    'áž…áŸ†áž“áž½áž“áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš' : 'Number_of_Tourists',
    'áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšáž€áŸ’áž“áž»áž„ážŸáŸ’ážšáž»áž€' : 'Domestic_Tourists',
    'áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážšážŽáž¢áž“áŸ’ážážšáž‡áž¶ážáž·' : 'International_Tourists',
    'áž—áŸ’áž‰áŸ€ážœáž‘áŸážŸáž…ážš\u200báž¢áž“áŸ’ážážšáž‡áž¶ážáž·áž‘áž·áž‰ážŸáŸ†áž”áž»ážáŸ’ážšáž–áž¸áž‚áŸ’ážšáž¹áŸ‡ážŸáŸ’ážáž¶áž“áž¢áž„áŸ’áž‚ážš' : 'International_Tourists_Purchase_Ankor_Ticket',
})
df

,Number_of_Tourists,Domestic_Tourists,International_Tourists,International_Tourists_Purchase_Ankor_Ticket
1,áž˜áž€ážšáž¶,1485901.0,540023.0,115532.0
2,áž€áž»áž˜áŸ’áž—áŸˆ,1287167.0,448526.0,120318.0
3,áž˜áž¸áž“áž¶,1094242.0,594102.0,111684.0
4,áž˜áŸážŸáž¶,None,None,73845.00
5,áž§ážŸáž—áž¶,None,None,50879.00
6,áž˜áž·ážáž»áž“áž¶,None,None,49692.00
7,áž€áž€áŸ’áž€ážŠáž¶,None,None,None
8,ážŸáž¸áž áž¶,None,None,None
9,áž€áž‰áŸ’áž‰áž¶,None,None,None
10,ážáž»áž›áž¶,None,None,None
11,ážœáž·áž…áŸ’áž†áž·áž€áž¶,None,None,None
12,áž’áŸ’áž“áž¼,None,None,None

In [119]:
df = df.rename(columns={
    'Number_of_Tourists' : 'Month'
})
df

,Month,Domestic_Tourists,International_Tourists,International_Tourists_Purchase_Ankor_Ticket
1,áž˜áž€ážšáž¶,1485901.0,540023.0,115532.0
2,áž€áž»áž˜áŸ’áž—áŸˆ,1287167.0,448526.0,120318.0
3,áž˜áž¸áž“áž¶,1094242.0,594102.0,111684.0
4,áž˜áŸážŸáž¶,None,None,73845.00
5,áž§ážŸáž—áž¶,None,None,50879.00
6,áž˜áž·ážáž»áž“áž¶,None,None,49692.00
7,áž€áž€áŸ’áž€ážŠáž¶,None,None,None
8,ážŸáž¸áž áž¶,None,None,None
9,áž€áž‰áŸ’áž‰áž¶,None,None,None
10,ážáž»áž›áž¶,None,None,None
11,ážœáž·áž…áŸ’áž†áž·áž€áž¶,None,None,None
12,áž’áŸ’áž“áž¼,None,None,None

In [121]:
df['Month'].tolist()

['áž˜áž€ážšáž¶',
 'áž€áž»áž˜áŸ’áž—áŸˆ',
 'áž˜áž¸áž“áž¶',
 'áž˜áŸážŸáž¶',
 'áž§ážŸáž—áž¶',
 'áž˜áž·ážáž»áž“áž¶',
 'áž€áž€áŸ’áž€ážŠáž¶',
 'ážŸáž¸áž áž¶',
 'áž€áž‰áŸ’áž‰áž¶',
 'ážáž»áž›áž¶',
 'ážœáž·áž…áŸ’áž†áž·áž€áž¶',
 'áž’áŸ’áž“áž¼']

In [122]:
# Replace Khmer 'Merchandise' values with English equivalents
df['Month'] = df['Month'].replace({
 'áž˜áž€ážšáž¶' : 'January',
 'áž€áž»áž˜áŸ’áž—áŸˆ': 'February', 
 'áž˜áž¸áž“áž¶' : 'March',
 'áž˜áŸážŸáž¶' : 'April',
 'áž§ážŸáž—áž¶' : 'May',
 'áž˜áž·ážáž»áž“áž¶' : 'June',
 'áž€áž€áŸ’áž€ážŠáž¶' : 'July',
 'ážŸáž¸áž áž¶' : 'August',
 'áž€áž‰áŸ’áž‰áž¶' : 'September',
 'ážáž»áž›áž¶' : 'October',
 'ážœáž·áž…áŸ’áž†áž·áž€áž¶' : 'November',
 'áž’áŸ’áž“áž¼' : 'December'
})
df

,Month,Domestic_Tourists,International_Tourists,International_Tourists_Purchase_Ankor_Ticket
1,January,1485901.0,540023.0,115532.0
2,February,1287167.0,448526.0,120318.0
3,March,1094242.0,594102.0,111684.0
4,April,None,None,73845.00
5,May,None,None,50879.00
6,June,None,None,49692.00
7,July,None,None,None
8,August,None,None,None
9,September,None,None,None
10,October,None,None,None
11,November,None,None,None
12,December,None,None,None

In [125]:
# If Month is full month name like 'January', 'February', etc.
df['Date'] = pd.to_datetime(df['Month'] + ' 2024', format='%B %Y', errors='coerce')
df

,Month,Domestic_Tourists,International_Tourists,International_Tourists_Purchase_Ankor_Ticket,Date
1,January,1485901.0,540023.0,115532.0,2024-01-01
2,February,1287167.0,448526.0,120318.0,2024-02-01
3,March,1094242.0,594102.0,111684.0,2024-03-01
4,April,None,None,73845.00,2024-04-01
5,May,None,None,50879.00,2024-05-01
6,June,None,None,49692.00,2024-06-01
7,July,None,None,None,2024-07-01
8,August,None,None,None,2024-08-01
9,September,None,None,None,2024-09-01
10,October,None,None,None,2024-10-01
11,November,None,None,None,2024-11-01
12,December,None,None,None,2024-12-01

In [128]:
df = df[[
    'Date',
    'Month',
    'Domestic_Tourists',
    'International_Tourists',
    'International_Tourists_Purchase_Ankor_Ticket'
]]
df

,Date,Month,Domestic_Tourists,International_Tourists,International_Tourists_Purchase_Ankor_Ticket
1,2024-01-01,January,1485901.0,540023.0,115532.0
2,2024-02-01,February,1287167.0,448526.0,120318.0
3,2024-03-01,March,1094242.0,594102.0,111684.0
4,2024-04-01,April,None,None,73845.00
5,2024-05-01,May,None,None,50879.00
6,2024-06-01,June,None,None,49692.00
7,2024-07-01,July,None,None,None
8,2024-08-01,August,None,None,None
9,2024-09-01,September,None,None,None
10,2024-10-01,October,None,None,None
11,2024-11-01,November,None,None,None
12,2024-12-01,December,None,None,None

In [129]:
df.to_csv("58-Tourism Situation of Fiscal Year 2024.csv", index=False)

----

In [147]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_676e570193d4f00001fc5721/json?page=1&page_size=100"
response2 = requests.get(url)
data02 = response2.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

                  áž‘áž·ážŸážŠáŸ…   áž“áž¶áŸ†áž…áŸáž‰   áž“áž¶áŸ†áž…áž¼áž›  áž‘áŸ†áž áŸ†áž–áž¶ážŽáž·áž‡áŸ’áž‡áž€áž˜áŸ’áž˜
0               áž–áž·áž—áž–áž›áŸ„áž€  24349.0  26108.0          50457.0
1           áž”áŸ’ážšáž‘áŸážŸáž¢áž¶ážŸáž·áž”   8255.0  23111.0          31366.0
2                áž¢áž¶ážŸáŸŠáž¶áž“   4620.0   9689.0          14309.0
3     áž–áŸ’ážšáž»áž™ážŽáŸ ážŠáž¶ážšáž¼ážŸáž¶áž¡áž¹áž˜      7.0     25.0             32.0
4            áž¥ážŽáŸ’ážŒáž¼ážŽáŸážŸáŸŠáž¸     87.0    915.0           1002.0
5                   áž¡áž¶ážœ     16.0    220.0            236.0
6              áž˜áŸ‰áž¶áž¡áŸážŸáŸŠáž¸    128.0    649.0            777.0
7            áž˜áž¸áž™áŸ‰áž¶áž“áŸ‹áž˜áŸ‰áž¶      1.0     31.0             31.0
8             áž áŸ’ážœáž¸áž›áž¸áž–áž¸áž“     44.0     35.0             79.0
9             ážŸáž·áž„áŸ’áž áž”áž»ážšáž¸    261.0    891.0           1151.0
10                   ážáŸƒ    780.0   3132.0           3912.0
11               ážœáŸ€ážážŽáž¶áž˜   3298.0   3790.0           7088.0
12           áž¢áž¼ážŸáŸ’ážáŸ’ážšáž¶áž›áž¸    444.0    102.0            547.0
13                  áž…áž·áž“   1608.0  12155.0          13762.0
14                áž‡áž”áŸ‰áž»áž“   1272.0    677.0           1950.0
15                áž€áž¼ážšáŸ‰áŸ    288.0    474.0            762.0
16           áž“áž¼ážœáŸ‚áž›ážŸáŸáž¡áž„áŸ‹     22.0     15.0             36.0
17         ážŸáž áž—áž¶áž–áž¢áŸŠážºážšáŸ‰áž»áž”   4032.0    854.0           4887.0
18            áž”áŸ‚áž›áž áŸ’ážŸáŸŠáž·áž€    334.0     24.0            358.0
19               áž”áž¶ážšáž¶áŸ†áž„    368.0     99.0            467.0
20           áž¢áž¶áž›áŸ’áž›ážºáž˜áŸ‰áž„áŸ‹    828.0    139.0            967.0
21                áž áž¼áž¡áž„áŸ‹    729.0     33.0            763.0
22             áž¢áŸážŸáŸ’áž”áŸ‰áž¶áž‰    953.0     23.0            976.0
23       áž…áž€áŸ’ážšáž—áž–áž¢áž„áŸ‹áž‚áŸ’áž›áŸážŸ    886.0     47.0            932.0
24       ážŸáž ážšážŠáŸ’áž‹áž¢áž¶áž˜áŸ‰áŸážšáž·áž€   9063.0    244.0           9308.0
25               áž€áž¶ážŽáž¶ážŠáž¶   1011.0     52.0           1063.0
26  áž¢áŸáž˜áž¸ážšáŸ‰áž¶ážáŸ‹áž¢áž¶ážšáŸ‰áž¶áž”áŸ‹ážšáž½áž˜     62.0     22.0             83.0
27                áž¥ážŽáŸ’ážŒáž¶    144.0    176.0            319.0
28               áž•áŸ’ážŸáŸáž„áŸ—    897.0   1602.0           2499.0

In [148]:
df.dtypes

áž‘áž·ážŸážŠáŸ…               object
áž“áž¶áŸ†áž…áŸáž‰             float64
áž“áž¶áŸ†áž…áž¼áž›             float64
áž‘áŸ†áž áŸ†áž–áž¶ážŽáž·áž‡áŸ’áž‡áž€áž˜áŸ’áž˜    float64
dtype: object

In [149]:
df = df.rename(columns={
    'áž‘áž·ážŸážŠáŸ…' : 'Destination_Country',
    'áž“áž¶áŸ†áž…áŸáž‰' : 'Export',
    'áž“áž¶áŸ†áž…áž¼áž›' : 'Import',
    'áž‘áŸ†áž áŸ†áž–áž¶ážŽáž·áž‡áŸ’áž‡áž€áž˜áŸ’áž˜' : 'Trade_Amount',
})
df

    Destination_Country   Export   Import  Trade_Amount
0               áž–áž·áž—áž–áž›áŸ„áž€  24349.0  26108.0       50457.0
1           áž”áŸ’ážšáž‘áŸážŸáž¢áž¶ážŸáž·áž”   8255.0  23111.0       31366.0
2                áž¢áž¶ážŸáŸŠáž¶áž“   4620.0   9689.0       14309.0
3     áž–áŸ’ážšáž»áž™ážŽáŸ ážŠáž¶ážšáž¼ážŸáž¶áž¡áž¹áž˜      7.0     25.0          32.0
4            áž¥ážŽáŸ’ážŒáž¼ážŽáŸážŸáŸŠáž¸     87.0    915.0        1002.0
5                   áž¡áž¶ážœ     16.0    220.0         236.0
6              áž˜áŸ‰áž¶áž¡áŸážŸáŸŠáž¸    128.0    649.0         777.0
7            áž˜áž¸áž™áŸ‰áž¶áž“áŸ‹áž˜áŸ‰áž¶      1.0     31.0          31.0
8             áž áŸ’ážœáž¸áž›áž¸áž–áž¸áž“     44.0     35.0          79.0
9             ážŸáž·áž„áŸ’áž áž”áž»ážšáž¸    261.0    891.0        1151.0
10                   ážáŸƒ    780.0   3132.0        3912.0
11               ážœáŸ€ážážŽáž¶áž˜   3298.0   3790.0        7088.0
12           áž¢áž¼ážŸáŸ’ážáŸ’ážšáž¶áž›áž¸    444.0    102.0         547.0
13                  áž…áž·áž“   1608.0  12155.0       13762.0
14                áž‡áž”áŸ‰áž»áž“   1272.0    677.0        1950.0
15                áž€áž¼ážšáŸ‰áŸ    288.0    474.0         762.0
16           áž“áž¼ážœáŸ‚áž›ážŸáŸáž¡áž„áŸ‹     22.0     15.0          36.0
17         ážŸáž áž—áž¶áž–áž¢áŸŠážºážšáŸ‰áž»áž”   4032.0    854.0        4887.0
18            áž”áŸ‚áž›áž áŸ’ážŸáŸŠáž·áž€    334.0     24.0         358.0
19               áž”áž¶ážšáž¶áŸ†áž„    368.0     99.0         467.0
20           áž¢áž¶áž›áŸ’áž›ážºáž˜áŸ‰áž„áŸ‹    828.0    139.0         967.0
21                áž áž¼áž¡áž„áŸ‹    729.0     33.0         763.0
22             áž¢áŸážŸáŸ’áž”áŸ‰áž¶áž‰    953.0     23.0         976.0
23       áž…áž€áŸ’ážšáž—áž–áž¢áž„áŸ‹áž‚áŸ’áž›áŸážŸ    886.0     47.0         932.0
24       ážŸáž ážšážŠáŸ’áž‹áž¢áž¶áž˜áŸ‰áŸážšáž·áž€   9063.0    244.0        9308.0
25               áž€áž¶ážŽáž¶ážŠáž¶   1011.0     52.0        1063.0
26  áž¢áŸáž˜áž¸ážšáŸ‰áž¶ážáŸ‹áž¢áž¶ážšáŸ‰áž¶áž”áŸ‹ážšáž½áž˜     62.0     22.0          83.0
27                áž¥ážŽáŸ’ážŒáž¶    144.0    176.0         319.0
28               áž•áŸ’ážŸáŸáž„áŸ—    897.0   1602.0        2499.0

In [150]:
df['Destination_Country'] = df['Destination_Country'].replace({
    'áž–áž·áž—áž–áž›áŸ„áž€': 'World',
    'áž”áŸ’ážšáž‘áŸážŸáž¢áž¶ážŸáž·áž”': 'RCEP Countries',
    'áž¢áž¶ážŸáŸŠáž¶áž“': 'ASEAN',
    'áž–áŸ’ážšáž»áž™ážŽáŸ ážŠáž¶ážšáž¼ážŸáž¶áž¡áž¹áž˜': 'Brunei Darussalam',
    'áž¥ážŽáŸ’ážŒáž¼ážŽáŸážŸáŸŠáž¸': 'Indonesia',
    'áž¡áž¶ážœ': 'Lao PDR',
    'áž˜áŸ‰áž¶áž¡áŸážŸáŸŠáž¸': 'Malaysia',
    'áž˜áž¸áž™áŸ‰áž¶áž“áŸ‹áž˜áŸ‰áž¶': 'Myanmar',
    'áž áŸ’ážœáž¸áž›áž¸áž–áž¸áž“': 'Philippines',
    'ážŸáž·áž„áŸ’áž áž”áž»ážšáž¸': 'Singapore',
    'ážáŸƒ': 'Thailand',
    'ážœáŸ€ážážŽáž¶áž˜': 'Vietnam',
    'áž¢áž¼ážŸáŸ’ážáŸ’ážšáž¶áž›áž¸': 'Australia',
    'áž…áž·áž“': 'China',
    'áž‡áž”áŸ‰áž»áž“': 'Japan',
    'áž€áž¼ážšáŸ‰áŸ': 'Korea',
    'áž“áž¼ážœáŸ‚áž›ážŸáŸáž¡áž„áŸ‹': 'New Zealand',
    'ážŸáž áž—áž¶áž–áž¢áŸŠážºážšáŸ‰áž»áž”': 'European Union',
    'áž”áŸ‚áž›áž áŸ’ážŸáŸŠáž·áž€': 'Belgium',
    'áž”áž¶ážšáž¶áŸ†áž„': 'France',
    'áž¢áž¶áž›áŸ’áž›ážºáž˜áŸ‰áž„áŸ‹': 'Germany',
    'áž áž¼áž¡áž„áŸ‹': 'Netherlands',
    'áž¢áŸážŸáŸ’áž”áŸ‰áž¶áž‰': 'Spain',
    'áž…áž€áŸ’ážšáž—áž–áž¢áž„áŸ‹áž‚áŸ’áž›áŸážŸ': 'United Kingdom',
    'ážŸáž ážšážŠáŸ’áž‹áž¢áž¶áž˜áŸ‰áŸážšáž·áž€': 'United States',
    'áž€áž¶ážŽáž¶ážŠáž¶': 'Canada',
    'áž¢áŸáž˜áž¸ážšáŸ‰áž¶ážáŸ‹áž¢áž¶ážšáŸ‰áž¶áž”áŸ‹ážšáž½áž˜': 'United Arab Emirates',
    'áž¥ážŽáŸ’ážŒáž¶': 'India',
    'áž•áŸ’ážŸáŸáž„áŸ—': 'Others'})
df

     Destination_Country   Export   Import  Trade_Amount
0                  World  24349.0  26108.0       50457.0
1         RCEP Countries   8255.0  23111.0       31366.0
2                  ASEAN   4620.0   9689.0       14309.0
3      Brunei Darussalam      7.0     25.0          32.0
4              Indonesia     87.0    915.0        1002.0
5                Lao PDR     16.0    220.0         236.0
6               Malaysia    128.0    649.0         777.0
7                Myanmar      1.0     31.0          31.0
8            Philippines     44.0     35.0          79.0
9              Singapore    261.0    891.0        1151.0
10              Thailand    780.0   3132.0        3912.0
11               Vietnam   3298.0   3790.0        7088.0
12             Australia    444.0    102.0         547.0
13                 China   1608.0  12155.0       13762.0
14                 Japan   1272.0    677.0        1950.0
15                 Korea    288.0    474.0         762.0
16           New Zealand     22.0     15.0          36.0
17        European Union   4032.0    854.0        4887.0
18               Belgium    334.0     24.0         358.0
19                France    368.0     99.0         467.0
20               Germany    828.0    139.0         967.0
21           Netherlands    729.0     33.0         763.0
22                 Spain    953.0     23.0         976.0
23        United Kingdom    886.0     47.0         932.0
24         United States   9063.0    244.0        9308.0
25                Canada   1011.0     52.0        1063.0
26  United Arab Emirates     62.0     22.0          83.0
27                 India    144.0    176.0         319.0
28                Others    897.0   1602.0        2499.0

In [151]:
df['Unit'] = "Million USD"
df

     Destination_Country   Export   Import  Trade_Amount         Unit
0                  World  24349.0  26108.0       50457.0  Million USD
1         RCEP Countries   8255.0  23111.0       31366.0  Million USD
2                  ASEAN   4620.0   9689.0       14309.0  Million USD
3      Brunei Darussalam      7.0     25.0          32.0  Million USD
4              Indonesia     87.0    915.0        1002.0  Million USD
5                Lao PDR     16.0    220.0         236.0  Million USD
6               Malaysia    128.0    649.0         777.0  Million USD
7                Myanmar      1.0     31.0          31.0  Million USD
8            Philippines     44.0     35.0          79.0  Million USD
9              Singapore    261.0    891.0        1151.0  Million USD
10              Thailand    780.0   3132.0        3912.0  Million USD
11               Vietnam   3298.0   3790.0        7088.0  Million USD
12             Australia    444.0    102.0         547.0  Million USD
13                 China   1608.0  12155.0       13762.0  Million USD
14                 Japan   1272.0    677.0        1950.0  Million USD
15                 Korea    288.0    474.0         762.0  Million USD
16           New Zealand     22.0     15.0          36.0  Million USD
17        European Union   4032.0    854.0        4887.0  Million USD
18               Belgium    334.0     24.0         358.0  Million USD
19                France    368.0     99.0         467.0  Million USD
20               Germany    828.0    139.0         967.0  Million USD
21           Netherlands    729.0     33.0         763.0  Million USD
22                 Spain    953.0     23.0         976.0  Million USD
23        United Kingdom    886.0     47.0         932.0  Million USD
24         United States   9063.0    244.0        9308.0  Million USD
25                Canada   1011.0     52.0        1063.0  Million USD
26  United Arab Emirates     62.0     22.0          83.0  Million USD
27                 India    144.0    176.0         319.0  Million USD
28                Others    897.0   1602.0        2499.0  Million USD

In [152]:
df.dtypes

Destination_Country     object
Export                 float64
Import                 float64
Trade_Amount           float64
Unit                    object
dtype: object

In [153]:
df.to_csv("59-Trade with Keys Partners Countries from Jan-Nov 2024.csv", index=False)