In [4]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66b498c849eb6c00013c12a1/json?page=1&page_size=10"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

  currency      cny     eur      jpy     krw      sdr    thb      usd
0       Q1  1258.20  723.93  1187.05  442.88  2145.90  49.42  4452.54
1       Q2  1240.68  726.25  1132.30  444.98  2145.08  49.31  4940.26
2       Q3  1227.55  705.41  1140.57  475.86  2096.92  48.57  4971.08

In [5]:
df.columns

Index(['currency', 'cny', 'eur', 'jpy', 'krw', 'sdr', 'thb', 'usd'], dtype='object')

In [6]:
df = df.rename(columns={
    "currency":"Quarter", "cny":"CNY", "eur":"EUR",
    "jpy":"JPY", "krw": "KRW", "sdr": "SDR", "thb": "THB", "usd": "USD" })
df

  Quarter      CNY     EUR      JPY     KRW      SDR    THB      USD
0      Q1  1258.20  723.93  1187.05  442.88  2145.90  49.42  4452.54
1      Q2  1240.68  726.25  1132.30  444.98  2145.08  49.31  4940.26
2      Q3  1227.55  705.41  1140.57  475.86  2096.92  48.57  4971.08

In [8]:
df.dtypes

Quarter     object
CNY        float64
EUR        float64
JPY        float64
KRW        float64
SDR        float64
THB        float64
USD        float64
dtype: object

In [9]:
# Set base year (modify as needed)
year = 2023

# Define mapping of quarters to start and end dates
quarter_dates = {
    "Q1": (f"{year}-01-01", f"{year}-03-31"),
    "Q2": (f"{year}-04-01", f"{year}-06-30"),
    "Q3": (f"{year}-07-01", f"{year}-09-30"),
    "Q4": (f"{year}-10-01", f"{year}-12-31"),
}

# Map dates to new columns
df["Start_Date"] = df["Quarter"].map(lambda q: quarter_dates[q][0])
df["End_Date"] = df["Quarter"].map(lambda q: quarter_dates[q][1])
df

,Quarter,CNY,EUR,JPY,KRW,SDR,THB,USD,Start_Date,End_Date
0,Q1,1258.20,723.93,1187.05,442.88,2145.90,49.42,4452.54,2023-01-01,2023-03-31
1,Q2,1240.68,726.25,1132.30,444.98,2145.08,49.31,4940.26,2023-04-01,2023-06-30
2,Q3,1227.55,705.41,1140.57,475.86,2096.92,48.57,4971.08,2023-07-01,2023-09-30

In [10]:
# Reorder columns to place 'Start_Date' and 'End_Date' first
df = df[["Start_Date", "End_Date"] + [col for col in df.columns if col not in ["Start_Date", "End_Date"]]]
df

,Start_Date,End_Date,Quarter,CNY,EUR,JPY,KRW,SDR,THB,USD
0,2023-01-01,2023-03-31,Q1,1258.20,723.93,1187.05,442.88,2145.90,49.42,4452.54
1,2023-04-01,2023-06-30,Q2,1240.68,726.25,1132.30,444.98,2145.08,49.31,4940.26
2,2023-07-01,2023-09-30,Q3,1227.55,705.41,1140.57,475.86,2096.92,48.57,4971.08

In [11]:
df.to_csv("02-New-Two.csv", index=False)

---
---

In [143]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_67a02da366a35300013bf9b1/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

         month  number of visitors  revenue(usd)
0   2024-01-01              3689.0       55335.0
1   2024-02-01                 NaN           NaN
2   2024-03-01                 NaN           NaN
3   2024-04-01                 NaN           NaN
4   2024-05-01                 NaN           NaN
5   2024-06-01                 NaN           NaN
6   2024-07-01                 NaN           NaN
7   2024-08-01                 NaN           NaN
8   2024-09-01                 NaN           NaN
9   2024-10-01                 NaN           NaN
10  2024-11-01                 NaN           NaN
11  2024-12-01                 NaN           NaN

In [144]:
df = df.rename(columns={"month":"Date"})
df

          Date  number of visitors  revenue(usd)
0   2024-01-01              3689.0       55335.0
1   2024-02-01                 NaN           NaN
2   2024-03-01                 NaN           NaN
3   2024-04-01                 NaN           NaN
4   2024-05-01                 NaN           NaN
5   2024-06-01                 NaN           NaN
6   2024-07-01                 NaN           NaN
7   2024-08-01                 NaN           NaN
8   2024-09-01                 NaN           NaN
9   2024-10-01                 NaN           NaN
10  2024-11-01                 NaN           NaN
11  2024-12-01                 NaN           NaN

In [145]:
df.dtypes

Date                   object
number of visitors    float64
revenue(usd)          float64
dtype: object

In [146]:
df["Date"] = pd.to_datetime(df["Date"])
df

         Date  number of visitors  revenue(usd)
0  2024-01-01              3689.0       55335.0
1  2024-02-01                 NaN           NaN
2  2024-03-01                 NaN           NaN
3  2024-04-01                 NaN           NaN
4  2024-05-01                 NaN           NaN
5  2024-06-01                 NaN           NaN
6  2024-07-01                 NaN           NaN
7  2024-08-01                 NaN           NaN
8  2024-09-01                 NaN           NaN
9  2024-10-01                 NaN           NaN
10 2024-11-01                 NaN           NaN
11 2024-12-01                 NaN           NaN

In [147]:
df.dtypes

Date                  datetime64[ns]
number of visitors           float64
revenue(usd)                 float64
dtype: object

In [148]:
df['number of visitors'] = df['number of visitors'].astype('Int64')
df.dtypes

Date                  datetime64[ns]
number of visitors             Int64
revenue(usd)                 float64
dtype: object

In [149]:
df["Date"] = df["Date"].apply(lambda d: d.replace(year=2025))
df

         Date  number of visitors  revenue(usd)
0  2025-01-01                3689       55335.0
1  2025-02-01                <NA>           NaN
2  2025-03-01                <NA>           NaN
3  2025-04-01                <NA>           NaN
4  2025-05-01                <NA>           NaN
5  2025-06-01                <NA>           NaN
6  2025-07-01                <NA>           NaN
7  2025-08-01                <NA>           NaN
8  2025-09-01                <NA>           NaN
9  2025-10-01                <NA>           NaN
10 2025-11-01                <NA>           NaN
11 2025-12-01                <NA>           NaN

In [150]:
df.dtypes

Date                  datetime64[ns]
number of visitors             Int64
revenue(usd)                 float64
dtype: object

In [151]:
df["Month"] = df["Date"].dt.strftime('%B')
df

         Date  number of visitors  revenue(usd)      Month
0  2025-01-01                3689       55335.0    January
1  2025-02-01                <NA>           NaN   February
2  2025-03-01                <NA>           NaN      March
3  2025-04-01                <NA>           NaN      April
4  2025-05-01                <NA>           NaN        May
5  2025-06-01                <NA>           NaN       June
6  2025-07-01                <NA>           NaN       July
7  2025-08-01                <NA>           NaN     August
8  2025-09-01                <NA>           NaN  September
9  2025-10-01                <NA>           NaN    October
10 2025-11-01                <NA>           NaN   November
11 2025-12-01                <NA>           NaN   December

In [152]:
# Reorder columns to place 'Month' at column index 1
df = df[['Date', 'Month', 'number of visitors', 'revenue(usd)']]
df

         Date      Month  number of visitors  revenue(usd)
0  2025-01-01    January                3689       55335.0
1  2025-02-01   February                <NA>           NaN
2  2025-03-01      March                <NA>           NaN
3  2025-04-01      April                <NA>           NaN
4  2025-05-01        May                <NA>           NaN
5  2025-06-01       June                <NA>           NaN
6  2025-07-01       July                <NA>           NaN
7  2025-08-01     August                <NA>           NaN
8  2025-09-01  September                <NA>           NaN
9  2025-10-01    October                <NA>           NaN
10 2025-11-01   November                <NA>           NaN
11 2025-12-01   December                <NA>           NaN

In [153]:
df = df.rename(columns={
    'number of visitors': 'Number of Visitors',
    'revenue(usd)': 'Revenue(USD)'
})
df

         Date      Month  Number of Visitors  Revenue(USD)
0  2025-01-01    January                3689       55335.0
1  2025-02-01   February                <NA>           NaN
2  2025-03-01      March                <NA>           NaN
3  2025-04-01      April                <NA>           NaN
4  2025-05-01        May                <NA>           NaN
5  2025-06-01       June                <NA>           NaN
6  2025-07-01       July                <NA>           NaN
7  2025-08-01     August                <NA>           NaN
8  2025-09-01  September                <NA>           NaN
9  2025-10-01    October                <NA>           NaN
10 2025-11-01   November                <NA>           NaN
11 2025-12-01   December                <NA>           NaN

In [154]:
df.dtypes

Date                  datetime64[ns]
Month                         object
Number of Visitors             Int64
Revenue(USD)                 float64
dtype: object

In [156]:
df.to_csv("03-New-One.csv", index=False)

---

In [33]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66a9f36836d76b00019fe837/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

,weighted average rate on new amount,jan-13,feb-13,mar-13,apr-13,may-13,jun-13,jul-13,aug-13,sep-13,...,jul-23,aug-23,sep-23,oct-23,nov-23,dec-23,jan-24,feb-24,mar-24,apr-24
0,Interest Rate on Deposits and Loans in KHR,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Deposits,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Demand Deposits,0.14,0.05,0.12,0.12,0.13,0.14,0.15,0.14,0.2,...,0.18,0.18,0.25,0.24,0.24,0.19,0.18,0.16,0.28,0.17
3,Saving Deposits,1.12,1.08,1.1,1.0,1.06,1.0,1.02,1.05,0.98,...,0.89,0.87,0.89,0.89,0.91,0.83,0.92,0.83,0.8,0.81
4,Term Deposits,6.2,6.03,6.05,5.88,6.11,5.96,6.36,5.6,5.72,...,6.91,6.61,6.64,6.65,6.82,6.54,6.69,6.09,5.76,5.93
5,Other ​​Deposits,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.52,6.1,6.28,6.23,6.51,7.09,7.1,7.18,6.96,7.22
6,Loans,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,Overdraft,0.0,0.0,0.0,0.0,0.0,24.0,0.0,24.0,0.0,...,9.48,10.66,10.49,10.48,8.89,7.61,8.9,8.71,8.86,9.13
8,Credit Card,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.01,14.97,13.24,14.34,14.02,16.2,14.52,12.8,12.05,12.7
9,Term Loans,29.74,29.76,29.85,30.0,30.05,30.02,30.04,28.9,29.07,...,11.87,11.42,12.08,12.69,12.25,11.4,12.45,12.67,12.32,12.45
10,Other​ Loans,20.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.65,6.88,6.71,7.05,7.52,4.93,6.63,6.94,6.93,6.28
11,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,Interest Rate on Deposits and Loans in USD,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,Deposits,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
14,Demand Deposits,0.1,0.1,0.08,0.14,0.13,0.11,0.12,0.17,0.13,...,0.38,0.33,0.43,0.42,0.43,0.26,0.37,0.35,0.65,0.35
15,Saving Deposits,0.59,0.59,0.6,0.58,0.54,0.5,0.58,0.59,0.58,...,0.3,0.26,0.3,0.32,0.28,0.42,0.35,0.36,0.36,0.35
16,Term Deposits,3.24,3.34,3.28,3.25,3.47,3.45,3.28,3.33,3.14,...,5.49,5.71,5.84,5.57,5.87,6.08,5.83,5.86,5.67,5.7
17,Other ​​Deposits,0.11,0.14,0.14,0.19,0.15,0.21,0.01,0.03,4.43,...,6.19,6.64,7.42,6.46,7.57,6.2,6.88,7.48,7.42,7.04
18,Loans,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
19,Overdraft,7.33,6.49,7.72,7.21,7.09,7.22,7.71,7.16,8.62,...,7.53,8.32,8.08,8.25,8.3,8.13,8.3,8.47,8.04,7.71
20,Credit Card,18.35,19.34,18.15,21.93,17.16,22.11,22.39,22.05,19.85,...,17.7,17.51,17.22,18.14,17.72,18.25,17.05,16.9,17.33,17.31
21,Term Loans,14.54,14.59,14.13,12.91,12.76,12.64,14.02,8.3,11.29,...,10.13,9.88,10.46,10.57,10.41,9.78,10.34,10.35,10.05,10.33
22,Other​ Loans,8.6,8.76,7.82,8.79,8.3,8.18,8.53,8.43,8.03,...,7.22,7.28,7.41,7.51,7.69,7.23,7.55,7.66,7.68,7.64
23,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
24,Weighted Average Rate on Outstanding Amount,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,Interest Rate on Deposits and Loans in KHR,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26,Deposits,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
27,Demand Deposits,0.11,0.07,0.1,0.38,0.35,0.11,0.12,0.32,0.38,...,0.44,0.47,0.51,0.51,0.54,0.57,0.54,0.59,0.43,0.48
28,Saving Deposits,1.24,1.31,1.15,1.09,1.08,1.19,1.21,1.36,1.37,...,1.18,1.18,1.23,1.23,1.27,1.24,1.25,1.15,1.15,1.18
29,Term Deposits,6.74,6.67,6.71,6.73,6.67,6.71,6.72,6.51,6.47,...,7.28,7.25,7.32,7.31,7.28,7.34,7.35,7.32,7.3,7.28
30,Other ​​Deposits,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.39,5.97,6.26,6.3,6.56,6.67,6.38,6.9,6.72,6.65
31,Loans,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
32,Overdraft,24.0,24.0,23.29,24.0,24.0,24.0,24.0,24.0,24.0,...,8.44,8.46,8.48,8.51,8.09,8.14,8.14,8.15,8.13,8.08
33,Credit Card,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.1,13.95,13.78,13.73,13.82,13.85,13.8,13.78,13.71,13.63
34,Term Loans,29.7,29.67,29.66,29.68,29.75,29.75,29.75,29.58,29.5,...,10.75,10.75,11.3,11.32,11.31,11.32,11.36,11.36,11.33,11.38
35,Other​ Loans,20.4,20.4,20.4,20.4,0.0,0.0,0.0,0.0,0.0,...,6.47,6.7,6.44,6.44,6.39,6.06,6.33,6.3,6.34,6.31
36,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
37,Interest Rate on Deposits and Loans in USD,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
38,Deposits,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
39,Demand Deposits,0.13,0.2,0.17,0.19,0.18,0.15,0.16,0.16,0.15,...,0.79,0.81,0.79,0.81,0.85,0.88,0.89,0.96,1.0,0.99
40,Saving Deposits,0.88,1.18,1.1,1.09,1.04,1.04,1.08,0.87,0.86,...,0.75,0.71,0.77,0.79,0.78,0.78,0.8,0.73,0.75,0.76
41,Term Deposits,4.05,4.1,4.03,3.96,4.02,3.99,4.03,4.13,4.23,...,5.93,6.01,6.24,6.28,6.25,6.38,6.4,6.41,6.4,6.4
42,Other ​​Deposits,5.37,5.41,5.43,5.51,5.53,5.53,5.59,5.7,5.68,...,2.11,4.56,4.62,4.7,4.78,3.9,4.72,4.59,4.83,4.94
43,Loans,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
44,Overdraft,9.71,39.61,9.55,9.38,9.36,9.33,9.27,9.32,9.12,...,7.53,7.57,7.83,7.67,7.69,7.71,7.68,7.71,7.72,7.71
45,Credit Card,18.4,20.46,19.88,20.23,19.85,19.9,20.08,20.16,20.22,...,16.15,16.03,15.99,15.95,16.04,16.06,16.07,15.99,15.85,16.01
46,Term Loans,11.53,11.73,11.21,11.32,11.22,10.98,11.04,10.87,10.74,...,9.3,9.31,9.73,9.73,9.76,9.75,9.75,9.76,9.76,9.77
47,Other​ Loans,8.1,8.01,7.5,7.49,7.6,7.51,7.61,7.66,7.65,...,7.31,7.33,7.38,7.4,7.44,7.47,7.46,7.45,8.27,7.49
48,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
49,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
50,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
51,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [34]:
# Step 1: Forward-fill hierarchical categories
df.columns = df.columns.str.strip()  # Clean column names
df = df.dropna(how='all', axis=1)  # Drop columns with all NaN

df = df.rename(columns={df.columns[0]: "Indicator"})
df['Indicator'] = df['Indicator'].str.strip()
df['Sub-Indicator'] = df['Indicator'].where(df['Indicator'].isin([
    'Interest Rate on Deposits and Loans in KHR',
    'Interest Rate on Deposits and Loans in USD'
]))
df['Sub-Indicator'] = df['Sub-Indicator'].ffill()
df['Sub-sub-indicator'] = df['Indicator']
df['Indicator'] = df['Sub-Indicator']
df = df.drop(columns='Sub-Indicator')

# Step 2: Remove rows where all monthly values are NaN
df = df.dropna(axis=0, how='all', subset=df.columns[1:-2])

# Step 3: Melt the DataFrame into long format
df_melted = df.melt(
    id_vars=['Indicator', 'Sub-sub-indicator'],
    var_name='Date',
    value_name='Value'
)

# Step 4: Convert Date strings to datetime (e.g., 'jan-13' -> '2013-01-01')
# df_melted['Date'] = pd.to_datetime(df_melted['Date'], format='%b-%y')

# Final result
df_melted

,Indicator,Sub-sub-indicator,Date,Value
0,Interest Rate on Deposits and Loans in KHR,Demand Deposits,jan-13,0.14
1,Interest Rate on Deposits and Loans in KHR,Saving Deposits,jan-13,1.12
2,Interest Rate on Deposits and Loans in KHR,Term Deposits,jan-13,6.2
3,Interest Rate on Deposits and Loans in KHR,Other ​​Deposits,jan-13,0.0
4,Interest Rate on Deposits and Loans in KHR,Overdraft,jan-13,0.0
...,...,...,...,...
4483,Interest Rate on Deposits and Loans in USD,Overdraft,apr-24,7.71
4484,Interest Rate on Deposits and Loans in USD,Credit Card,apr-24,16.01
4485,Interest Rate on Deposits and Loans in USD,Term Loans,apr-24,9.77
4486,Interest Rate on Deposits and Loans in USD,Other​ Loans,apr-24,7.49
4487,Interest Rate on Deposits and Loans in USD,None,apr-24,None

In [35]:
import pandas as pd

# Step: Convert 'Date' column like "jan-13" to "2013-01-01"
def convert_date(date_str):
    try:
        # Handle string like 'jan-13'
        return pd.to_datetime(date_str, format='%b-%y')
    except:
        return pd.NaT

# Apply conversion
df_melted['Date'] = df_melted['Date'].apply(convert_date)

# Set standardized format
df_melted['Date'] = df_melted['Date'].dt.strftime('%Y-%m-%d')
df_melted

,Indicator,Sub-sub-indicator,Date,Value
0,Interest Rate on Deposits and Loans in KHR,Demand Deposits,2013-01-01,0.14
1,Interest Rate on Deposits and Loans in KHR,Saving Deposits,2013-01-01,1.12
2,Interest Rate on Deposits and Loans in KHR,Term Deposits,2013-01-01,6.2
3,Interest Rate on Deposits and Loans in KHR,Other ​​Deposits,2013-01-01,0.0
4,Interest Rate on Deposits and Loans in KHR,Overdraft,2013-01-01,0.0
...,...,...,...,...
4483,Interest Rate on Deposits and Loans in USD,Overdraft,2024-04-01,7.71
4484,Interest Rate on Deposits and Loans in USD,Credit Card,2024-04-01,16.01
4485,Interest Rate on Deposits and Loans in USD,Term Loans,2024-04-01,9.77
4486,Interest Rate on Deposits and Loans in USD,Other​ Loans,2024-04-01,7.49
4487,Interest Rate on Deposits and Loans in USD,None,2024-04-01,None

In [36]:
import pandas as pd

# Your list of repeating sub-sub-indicators
sub_sub_indicators = [
    'Demand Deposits', 'Saving Deposits', 'Term Deposits', 'Other Deposits',
    'Overdraft', 'Credit Card', 'Term Loans', 'Other Loans'
]

# Repeat the list enough times, then slice to exactly match df length
repeated_labels = (sub_sub_indicators * ((len(df_melted) // 8) + 1))[:len(df_melted)]

# Assign to the column
df_melted['Sub-sub-indicator'] = repeated_labels

# Reorder columns
df_melted = df_melted[['Indicator', 'Sub-sub-indicator', 'Date', 'Value']]
df_melted

,Indicator,Sub-sub-indicator,Date,Value
0,Interest Rate on Deposits and Loans in KHR,Demand Deposits,2013-01-01,0.14
1,Interest Rate on Deposits and Loans in KHR,Saving Deposits,2013-01-01,1.12
2,Interest Rate on Deposits and Loans in KHR,Term Deposits,2013-01-01,6.2
3,Interest Rate on Deposits and Loans in KHR,Other Deposits,2013-01-01,0.0
4,Interest Rate on Deposits and Loans in KHR,Overdraft,2013-01-01,0.0
...,...,...,...,...
4483,Interest Rate on Deposits and Loans in USD,Other Deposits,2024-04-01,7.71
4484,Interest Rate on Deposits and Loans in USD,Overdraft,2024-04-01,16.01
4485,Interest Rate on Deposits and Loans in USD,Credit Card,2024-04-01,9.77
4486,Interest Rate on Deposits and Loans in USD,Term Loans,2024-04-01,7.49
4487,Interest Rate on Deposits and Loans in USD,Other Loans,2024-04-01,None

In [37]:
df_melted = df_melted.rename(columns={"Sub-sub-indicator":"Sub-Indicator"})
df_melted

,Indicator,Sub-Indicator,Date,Value
0,Interest Rate on Deposits and Loans in KHR,Demand Deposits,2013-01-01,0.14
1,Interest Rate on Deposits and Loans in KHR,Saving Deposits,2013-01-01,1.12
2,Interest Rate on Deposits and Loans in KHR,Term Deposits,2013-01-01,6.2
3,Interest Rate on Deposits and Loans in KHR,Other Deposits,2013-01-01,0.0
4,Interest Rate on Deposits and Loans in KHR,Overdraft,2013-01-01,0.0
...,...,...,...,...
4483,Interest Rate on Deposits and Loans in USD,Other Deposits,2024-04-01,7.71
4484,Interest Rate on Deposits and Loans in USD,Overdraft,2024-04-01,16.01
4485,Interest Rate on Deposits and Loans in USD,Credit Card,2024-04-01,9.77
4486,Interest Rate on Deposits and Loans in USD,Term Loans,2024-04-01,7.49
4487,Interest Rate on Deposits and Loans in USD,Other Loans,2024-04-01,None

In [38]:
df_melted

,Indicator,Sub-Indicator,Date,Value
0,Interest Rate on Deposits and Loans in KHR,Demand Deposits,2013-01-01,0.14
1,Interest Rate on Deposits and Loans in KHR,Saving Deposits,2013-01-01,1.12
2,Interest Rate on Deposits and Loans in KHR,Term Deposits,2013-01-01,6.2
3,Interest Rate on Deposits and Loans in KHR,Other Deposits,2013-01-01,0.0
4,Interest Rate on Deposits and Loans in KHR,Overdraft,2013-01-01,0.0
...,...,...,...,...
4483,Interest Rate on Deposits and Loans in USD,Other Deposits,2024-04-01,7.71
4484,Interest Rate on Deposits and Loans in USD,Overdraft,2024-04-01,16.01
4485,Interest Rate on Deposits and Loans in USD,Credit Card,2024-04-01,9.77
4486,Interest Rate on Deposits and Loans in USD,Term Loans,2024-04-01,7.49
4487,Interest Rate on Deposits and Loans in USD,Other Loans,2024-04-01,None

In [41]:
df_melted.dtypes

Indicator        object
Sub-Indicator    object
Date             object
Value            object
dtype: object

In [45]:
df_melted['Date'] = pd.to_datetime(df_melted['Date'])  # Keeps datetime type

In [46]:
df_melted.dtypes

Indicator                object
Sub-Indicator            object
Date             datetime64[ns]
Value                    object
dtype: object

In [48]:
df_melted

,Indicator,Sub-Indicator,Date,Value
0,Interest Rate on Deposits and Loans in KHR,Demand Deposits,2013-01-01,0.14
1,Interest Rate on Deposits and Loans in KHR,Saving Deposits,2013-01-01,1.12
2,Interest Rate on Deposits and Loans in KHR,Term Deposits,2013-01-01,6.2
3,Interest Rate on Deposits and Loans in KHR,Other Deposits,2013-01-01,0.0
4,Interest Rate on Deposits and Loans in KHR,Overdraft,2013-01-01,0.0
...,...,...,...,...
4483,Interest Rate on Deposits and Loans in USD,Other Deposits,2024-04-01,7.71
4484,Interest Rate on Deposits and Loans in USD,Overdraft,2024-04-01,16.01
4485,Interest Rate on Deposits and Loans in USD,Credit Card,2024-04-01,9.77
4486,Interest Rate on Deposits and Loans in USD,Term Loans,2024-04-01,7.49
4487,Interest Rate on Deposits and Loans in USD,Other Loans,2024-04-01,None

In [47]:
df_melted.to_csv("Average Banks Interest Rates on Deposit and Loan in Cambodia.csv",index=False)

---
---

In [51]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_67c18021c8ee800001366391/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df = pd.DataFrame(data02['items'])
df = df.drop(columns=['row_number'])
df

,capital/province,total expenditure,total current expenditure,current exp. type 1 - personnel burden,current exp. type 2 - operational expenditure,current exp. type 3 - financial obligations,current exp. type 5 - transfers,current exp. type 6 - miscellaneous,total capital expenditure,capital exp. type 4 - investment expenditure
0,បន្ទាយមានជ័យ,40019.0,33537.0,12136.0,15864.0,None,4066.0,1471.0,6482.0,6482.0
1,បាត់ដំបង,36358.0,35863.0,10825.0,18942.0,None,5066.0,1030.0,495.0,495.0
2,កំពង់ចាម,28197.0,26507.0,6280.0,15836.0,None,3421.0,970.0,1690.0,1690.0
3,កំពង់ឆ្នាំង,31440.0,31440.0,4323.0,25752.0,None,676.0,689.0,680.0,680.0
4,កំពង់ស្ពឺ,52432.0,21365.0,8039.0,9079.0,None,2294.0,1953.0,31067.0,31067.0
5,កំពង់ធំ,30814.0,25165.0,4377.0,18802.0,None,1314.0,672.0,5649.0,5649.0
6,កំពត,34552.0,30105.0,5903.0,22413.2,None,841.0,947.8,4447.0,4447.0
7,កណ្តាល,91307.0,82901.0,12670.0,58055.0,None,11080.0,1096.0,8406.0,8406.0
8,កោះកុង,23298.0,22472.0,3901.0,17275.4,None,809.0,486.6,826.0,826.0
9,ក្រចេះ,25427.0,25427.0,3772.0,19896.0,None,1133.0,626.0,NaN,NaN
10,មណ្ឌលគិរី,22391.0,22391.0,3037.0,18137.2,None,701.0,515.8,NaN,NaN
11,រាជធានីភ្នំពេញ,912341.0,777071.0,56772.0,203735.1,None,483897.5,32666.4,135270.0,135270.0
12,ព្រះវិហារ,18466.0,14828.0,3266.0,9710.0,None,1268.0,584.0,3638.0,3638.0
13,ព្រៃវែង,49725.0,41725.0,6516.0,32533.0,None,1511.0,1165.0,8000.0,8000.0
14,ពោធិ៍សាត់,17920.0,13623.0,4696.0,7169.0,None,1265.0,493.0,4297.0,4297.0
15,រតនគិរី,20612.0,15012.0,4200.0,9450.0,None,726.0,636.0,5600.0,5600.0
16,សៀមរៀប,55864.0,54374.0,11588.0,33527.3,None,7884.0,1374.7,1490.0,1490.0
17,ព្រះសីហនុ,75283.0,73043.0,9434.0,57905.6,None,4234.0,1469.4,2240.0,2240.0
18,ស្ទឹងត្រែង,16877.0,16877.0,3085.0,12545.0,None,763.0,484.0,NaN,NaN
19,ស្វាយរៀង,32246.0,26610.0,7165.0,17786.0,None,950.0,709.0,5636.0,5636.0
20,តាកែវ,32887.0,32062.0,6455.0,23905.4,None,1090.0,611.6,825.0,825.0
21,ឧត្តរមានជ័យ,20169.0,20169.0,4124.0,14237.6,None,1244.0,563.4,NaN,NaN
22,កែប,19774.0,13774.0,2490.0,10077.0,None,651.0,556.0,6000.0,6000.0
23,ប៉ៃលិន,14011.0,13611.0,3964.0,8702.5,None,533.0,411.5,400.0,400.0
24,ខេត្តត្បូងឃ្មុំ,25904.0,20242.0,5195.0,12190.2,None,2035.0,821.8,5662.0,5662.0

In [52]:
df.columns.tolist()

['capital/province',
 'total expenditure',
 'total current expenditure',
 'current exp. type 1 - personnel burden',
 'current exp. type 2 - operational expenditure',
 'current exp. type 3 - financial obligations',
 'current exp. type 5 - transfers',
 'current exp. type 6 - miscellaneous',
 'total capital expenditure',
 'capital exp. type 4 - investment expenditure']

In [53]:
df = df.rename(columns={
 'capital/province':'Capital_Province',
 'total expenditure' : 'Total_Expenditure',
 'total current expenditure' : 'Total_Current_Expenditure',
 'current exp. type 1 - personnel burden' : 'Current_Exp_Type1_Personnel_Burden',
 'current exp. type 2 - operational expenditure' : 'Current_Exp_Type2_Operational_Expenditure',
 'current exp. type 3 - financial obligations' : 'Current_Exp_Type3_Financial_Obligations',
 'current exp. type 5 - transfers' : 'Current_Exp_Type5_Transfers',
 'current exp. type 6 - miscellaneous' : 'Current_Exp_Type6_Miscellaneous',
 'total capital expenditure' : 'Total_Capital_Expenditure',
 'capital exp. type 4 - investment expenditure': 'Capital_Exp_Type4_Investment_Expenditure'
})
df

,Capital_Province,Total_Expenditure,Total_Current_Expenditure,Current_Exp_Type1_Personnel_Burden,Current_Exp_Type2_Operational_Expenditure,Current_Exp_Type3_Financial_Obligations,Current_Exp_Type5_Transfers,Current_Exp_Type6_Miscellaneous,Total_Capital_Expenditure,Capital_Exp_Type4_Investment_Expenditure
0,បន្ទាយមានជ័យ,40019.0,33537.0,12136.0,15864.0,None,4066.0,1471.0,6482.0,6482.0
1,បាត់ដំបង,36358.0,35863.0,10825.0,18942.0,None,5066.0,1030.0,495.0,495.0
2,កំពង់ចាម,28197.0,26507.0,6280.0,15836.0,None,3421.0,970.0,1690.0,1690.0
3,កំពង់ឆ្នាំង,31440.0,31440.0,4323.0,25752.0,None,676.0,689.0,680.0,680.0
4,កំពង់ស្ពឺ,52432.0,21365.0,8039.0,9079.0,None,2294.0,1953.0,31067.0,31067.0
5,កំពង់ធំ,30814.0,25165.0,4377.0,18802.0,None,1314.0,672.0,5649.0,5649.0
6,កំពត,34552.0,30105.0,5903.0,22413.2,None,841.0,947.8,4447.0,4447.0
7,កណ្តាល,91307.0,82901.0,12670.0,58055.0,None,11080.0,1096.0,8406.0,8406.0
8,កោះកុង,23298.0,22472.0,3901.0,17275.4,None,809.0,486.6,826.0,826.0
9,ក្រចេះ,25427.0,25427.0,3772.0,19896.0,None,1133.0,626.0,NaN,NaN
10,មណ្ឌលគិរី,22391.0,22391.0,3037.0,18137.2,None,701.0,515.8,NaN,NaN
11,រាជធានីភ្នំពេញ,912341.0,777071.0,56772.0,203735.1,None,483897.5,32666.4,135270.0,135270.0
12,ព្រះវិហារ,18466.0,14828.0,3266.0,9710.0,None,1268.0,584.0,3638.0,3638.0
13,ព្រៃវែង,49725.0,41725.0,6516.0,32533.0,None,1511.0,1165.0,8000.0,8000.0
14,ពោធិ៍សាត់,17920.0,13623.0,4696.0,7169.0,None,1265.0,493.0,4297.0,4297.0
15,រតនគិរី,20612.0,15012.0,4200.0,9450.0,None,726.0,636.0,5600.0,5600.0
16,សៀមរៀប,55864.0,54374.0,11588.0,33527.3,None,7884.0,1374.7,1490.0,1490.0
17,ព្រះសីហនុ,75283.0,73043.0,9434.0,57905.6,None,4234.0,1469.4,2240.0,2240.0
18,ស្ទឹងត្រែង,16877.0,16877.0,3085.0,12545.0,None,763.0,484.0,NaN,NaN
19,ស្វាយរៀង,32246.0,26610.0,7165.0,17786.0,None,950.0,709.0,5636.0,5636.0
20,តាកែវ,32887.0,32062.0,6455.0,23905.4,None,1090.0,611.6,825.0,825.0
21,ឧត្តរមានជ័យ,20169.0,20169.0,4124.0,14237.6,None,1244.0,563.4,NaN,NaN
22,កែប,19774.0,13774.0,2490.0,10077.0,None,651.0,556.0,6000.0,6000.0
23,ប៉ៃលិន,14011.0,13611.0,3964.0,8702.5,None,533.0,411.5,400.0,400.0
24,ខេត្តត្បូងឃ្មុំ,25904.0,20242.0,5195.0,12190.2,None,2035.0,821.8,5662.0,5662.0

In [70]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66a8603700604c000123e144/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()
items = data02['items']
df3 = pd.DataFrame(data02['items'])
df3 = df3.drop(columns=['row_number'])
df3.head(n=5)

     type code       name_km           name_en
0  ខេត្ត​   01  បន្ទាយមានជ័យ  Banteay Meanchey
1  ខេត្ត​   02      បាត់ដំបង        Battambang
2  ខេត្ត​   03      កំពង់ចាម      Kampong Cham
3  ខេត្ត​   04   កំពង់ឆ្នាំង   Kampong Chhnang
4  ខេត្ត​   05     កំពង់ស្ពឺ      Kampong Speu

In [56]:
df['Capital_Province'] = df2['name_en']
df

,Capital_Province,Total_Expenditure,Total_Current_Expenditure,Current_Exp_Type1_Personnel_Burden,Current_Exp_Type2_Operational_Expenditure,Current_Exp_Type3_Financial_Obligations,Current_Exp_Type5_Transfers,Current_Exp_Type6_Miscellaneous,Total_Capital_Expenditure,Capital_Exp_Type4_Investment_Expenditure
0,Banteay Meanchey,40019.0,33537.0,12136.0,15864.0,None,4066.0,1471.0,6482.0,6482.0
1,Battambang,36358.0,35863.0,10825.0,18942.0,None,5066.0,1030.0,495.0,495.0
2,Kampong Cham,28197.0,26507.0,6280.0,15836.0,None,3421.0,970.0,1690.0,1690.0
3,Kampong Chhnang,31440.0,31440.0,4323.0,25752.0,None,676.0,689.0,680.0,680.0
4,Kampong Speu,52432.0,21365.0,8039.0,9079.0,None,2294.0,1953.0,31067.0,31067.0
5,Kampong Thom,30814.0,25165.0,4377.0,18802.0,None,1314.0,672.0,5649.0,5649.0
6,Kampot,34552.0,30105.0,5903.0,22413.2,None,841.0,947.8,4447.0,4447.0
7,Kandal,91307.0,82901.0,12670.0,58055.0,None,11080.0,1096.0,8406.0,8406.0
8,Koh Kong,23298.0,22472.0,3901.0,17275.4,None,809.0,486.6,826.0,826.0
9,Kratie,25427.0,25427.0,3772.0,19896.0,None,1133.0,626.0,NaN,NaN
10,Mondul Kiri,22391.0,22391.0,3037.0,18137.2,None,701.0,515.8,NaN,NaN
11,Phnom Penh,912341.0,777071.0,56772.0,203735.1,None,483897.5,32666.4,135270.0,135270.0
12,Preah Vihear,18466.0,14828.0,3266.0,9710.0,None,1268.0,584.0,3638.0,3638.0
13,Prey Veng,49725.0,41725.0,6516.0,32533.0,None,1511.0,1165.0,8000.0,8000.0
14,Pursat,17920.0,13623.0,4696.0,7169.0,None,1265.0,493.0,4297.0,4297.0
15,Ratanak Kiri,20612.0,15012.0,4200.0,9450.0,None,726.0,636.0,5600.0,5600.0
16,Siemreap,55864.0,54374.0,11588.0,33527.3,None,7884.0,1374.7,1490.0,1490.0
17,Preah Sihanouk,75283.0,73043.0,9434.0,57905.6,None,4234.0,1469.4,2240.0,2240.0
18,Stung Treng,16877.0,16877.0,3085.0,12545.0,None,763.0,484.0,NaN,NaN
19,Svay Rieng,32246.0,26610.0,7165.0,17786.0,None,950.0,709.0,5636.0,5636.0
20,Takeo,32887.0,32062.0,6455.0,23905.4,None,1090.0,611.6,825.0,825.0
21,Oddar Meanchey,20169.0,20169.0,4124.0,14237.6,None,1244.0,563.4,NaN,NaN
22,Kep,19774.0,13774.0,2490.0,10077.0,None,651.0,556.0,6000.0,6000.0
23,Pailin,14011.0,13611.0,3964.0,8702.5,None,533.0,411.5,400.0,400.0
24,Tboung Khmum,25904.0,20242.0,5195.0,12190.2,None,2035.0,821.8,5662.0,5662.0

In [58]:
df.dtypes

Capital_Province                              object
Total_Expenditure                            float64
Total_Current_Expenditure                    float64
Current_Exp_Type1_Personnel_Burden           float64
Current_Exp_Type2_Operational_Expenditure    float64
Current_Exp_Type3_Financial_Obligations       object
Current_Exp_Type5_Transfers                  float64
Current_Exp_Type6_Miscellaneous              float64
Total_Capital_Expenditure                    float64
Capital_Exp_Type4_Investment_Expenditure     float64
dtype: object

In [60]:
df['Current_Exp_Type3_Financial_Obligations'] = pd.to_numeric(
    df['Current_Exp_Type3_Financial_Obligations'], errors='coerce'
)
df.dtypes

Capital_Province                              object
Total_Expenditure                            float64
Total_Current_Expenditure                    float64
Current_Exp_Type1_Personnel_Burden           float64
Current_Exp_Type2_Operational_Expenditure    float64
Current_Exp_Type3_Financial_Obligations      float64
Current_Exp_Type5_Transfers                  float64
Current_Exp_Type6_Miscellaneous              float64
Total_Capital_Expenditure                    float64
Capital_Exp_Type4_Investment_Expenditure     float64
dtype: object

In [61]:
df.to_csv('Budget Expense of sub-national FY2025.csv', index=False)

---
---

In [64]:
import requests

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_67c17f49c8ee80000136638e/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df2 = pd.DataFrame(data02['items'])
df2 = df2.drop(columns=['row_number'])
df2

,ចំណូលថវិការដ្ឋបាលរាជធានី ខេត្ត,សរុបរួមចំណូលថវិកា(ប្រភេទ១+ប្រភេទ២+ប្រភេទ៣),ចំណូលចរន្ត(ប្រភេទ១+ប្រភេទ២),ប្រភេទ១ ចំណូលសារពើពន្ធ,ប្រភេទ២ ចំណូលមិនមែនសារពើពន្ធ,ប្រភេទ៣ ចំណូលផ្សេងៗ(៣.១+៣.២),៣.១ ចំណូលផ្សេងៗក្នុងប្រទេស,៣.២ ហិរញ្ញប្បទានឥតសំណង
0,បន្ទាយមានជ័យ,64436.0,60736.0,52167.0,8569.0,3700.0,3700.0,None
1,បាត់ដំបង,49902.0,45902.0,38659.0,7243.0,4000.0,4000.0,None
2,កំពង់ចាម,38642.0,34642.0,25951.0,8691.0,4000.0,4000.0,None
3,កំពង់ឆ្នាំង,36774.0,19974.0,16538.0,3436.0,16800.0,16800.0,None
4,កំពង់ស្ពឺ,58894.0,45194.0,29632.0,15562.0,13700.0,13700.0,None
5,កំពង់ធំ,36067.0,18867.0,15900.0,2967.0,17200.0,17200.0,None
6,កំពត,44672.0,34672.0,28191.0,6481.0,10000.0,10000.0,None
7,កណ្តាល,157027.0,153027.0,101190.0,51837.0,4000.0,4000.0,None
8,កោះកុង,25432.0,11932.0,8640.0,3292.0,13500.0,13500.0,None
9,ក្រចេះ,30124.0,18624.0,8493.0,10131.0,11500.0,11500.0,None
10,មណ្ឌលគិរី,23041.0,6541.0,5303.0,1238.0,16500.0,16500.0,None
11,ភ្នំពេញ,1666273.0,1653221.0,1574473.0,78748.0,13052.0,13052.0,None
12,ព្រះវិហារ,19256.0,7756.0,6500.0,1256.0,11500.0,11500.0,None
13,ព្រៃវែង,68682.0,58482.0,17270.0,41212.0,10200.0,10200.0,None
14,ពោធិ៍សាត់,21467.0,15267.0,12474.0,2793.0,6200.0,6200.0,None
15,រតនៈគិរី,21535.0,9035.0,7127.0,1908.0,12500.0,12500.0,None
16,សៀមរាប,76691.0,72691.0,62270.0,10421.0,4000.0,4000.0,None
17,ព្រះសីហនុ,138860.0,135360.0,120766.0,14594.0,3500.0,3500.0,None
18,ស្ទឹងត្រែង,17443.0,5843.0,4510.0,1333.0,11600.0,11600.0,None
19,ស្វាយរៀង,43642.0,30142.0,25973.0,4169.0,13500.0,13500.0,None
20,តាកែវ,41694.0,26094.0,21366.0,4728.0,15600.0,15600.0,None
21,ឧត្តរមានជ័យ,20922.0,7422.0,5928.0,1494.0,13500.0,13500.0,None
22,កែប,19704.0,7204.0,5704.0,1500.0,12500.0,12500.0,None
23,ប៉ៃលិន,15153.0,6653.0,5419.0,1234.0,8500.0,8500.0,None
24,ត្បូងឃ្មុំ,29174.0,22174.0,18295.0,3879.0,7000.0,7000.0,None

In [67]:
df2.dtypes

ចំណូលថវិការដ្ឋបាលរាជធានី ខេត្ត                 object
សរុបរួមចំណូលថវិកា(ប្រភេទ១+ប្រភេទ២+ប្រភេទ៣)    float64
ចំណូលចរន្ត(ប្រភេទ១+ប្រភេទ២)                   float64
ប្រភេទ១ ចំណូលសារពើពន្ធ                        float64
ប្រភេទ២ ចំណូលមិនមែនសារពើពន្ធ                  float64
ប្រភេទ៣ ចំណូលផ្សេងៗ(៣.១+៣.២)                  float64
៣.១ ចំណូលផ្សេងៗក្នុងប្រទេស                    float64
៣.២ ហិរញ្ញប្បទានឥតសំណង                         object
dtype: object

In [68]:
df2.columns.tolist()

['ចំណូលថវិការដ្ឋបាលរាជធានី ខេត្ត',
 'សរុបរួមចំណូលថវិកា(ប្រភេទ១+ប្រភេទ២+ប្រភេទ៣)',
 'ចំណូលចរន្ត(ប្រភេទ១+ប្រភេទ២)',
 'ប្រភេទ១ ចំណូលសារពើពន្ធ',
 'ប្រភេទ២ ចំណូលមិនមែនសារពើពន្ធ',
 'ប្រភេទ៣ ចំណូលផ្សេងៗ(៣.១+៣.២)',
 '៣.១ ចំណូលផ្សេងៗក្នុងប្រទេស',
 '៣.២ ហិរញ្ញប្បទានឥតសំណង']

In [69]:
df2 = df2.rename(columns={
 'ចំណូលថវិការដ្ឋបាលរាជធានី ខេត្ត' : 'Capital_Province',
 'សរុបរួមចំណូលថវិកា(ប្រភេទ១+ប្រភេទ២+ប្រភេទ៣)' : 'Total_Revenue',
 'ចំណូលចរន្ត(ប្រភេទ១+ប្រភេទ២)' : 'Current_Revenue',
 'ប្រភេទ១ ចំណូលសារពើពន្ធ' : 'Type1_Fiscal_Revenue',
 'ប្រភេទ២ ចំណូលមិនមែនសារពើពន្ធ' : 'Type2_Non-Fiscal_Revenue',
 'ប្រភេទ៣ ចំណូលផ្សេងៗ(៣.១+៣.២)' : 'Type3_Miscellaneous',
 '៣.១ ចំណូលផ្សេងៗក្នុងប្រទេស' : 'Type31_Miscellaneous_Inside',
 '៣.២ ហិរញ្ញប្បទានឥតសំណង' : 'Type32_Non-Compensed_Financing'
})

df2

,Capital_Province,Total_Revenue,Current_Revenue,Type1_Fiscal_Revenue,Type2_Non-Fiscal_Revenue,Type3_Miscellaneous,Type31_Miscellaneous_Inside,Type32_Non-Compensed_Financing
0,បន្ទាយមានជ័យ,64436.0,60736.0,52167.0,8569.0,3700.0,3700.0,None
1,បាត់ដំបង,49902.0,45902.0,38659.0,7243.0,4000.0,4000.0,None
2,កំពង់ចាម,38642.0,34642.0,25951.0,8691.0,4000.0,4000.0,None
3,កំពង់ឆ្នាំង,36774.0,19974.0,16538.0,3436.0,16800.0,16800.0,None
4,កំពង់ស្ពឺ,58894.0,45194.0,29632.0,15562.0,13700.0,13700.0,None
5,កំពង់ធំ,36067.0,18867.0,15900.0,2967.0,17200.0,17200.0,None
6,កំពត,44672.0,34672.0,28191.0,6481.0,10000.0,10000.0,None
7,កណ្តាល,157027.0,153027.0,101190.0,51837.0,4000.0,4000.0,None
8,កោះកុង,25432.0,11932.0,8640.0,3292.0,13500.0,13500.0,None
9,ក្រចេះ,30124.0,18624.0,8493.0,10131.0,11500.0,11500.0,None
10,មណ្ឌលគិរី,23041.0,6541.0,5303.0,1238.0,16500.0,16500.0,None
11,ភ្នំពេញ,1666273.0,1653221.0,1574473.0,78748.0,13052.0,13052.0,None
12,ព្រះវិហារ,19256.0,7756.0,6500.0,1256.0,11500.0,11500.0,None
13,ព្រៃវែង,68682.0,58482.0,17270.0,41212.0,10200.0,10200.0,None
14,ពោធិ៍សាត់,21467.0,15267.0,12474.0,2793.0,6200.0,6200.0,None
15,រតនៈគិរី,21535.0,9035.0,7127.0,1908.0,12500.0,12500.0,None
16,សៀមរាប,76691.0,72691.0,62270.0,10421.0,4000.0,4000.0,None
17,ព្រះសីហនុ,138860.0,135360.0,120766.0,14594.0,3500.0,3500.0,None
18,ស្ទឹងត្រែង,17443.0,5843.0,4510.0,1333.0,11600.0,11600.0,None
19,ស្វាយរៀង,43642.0,30142.0,25973.0,4169.0,13500.0,13500.0,None
20,តាកែវ,41694.0,26094.0,21366.0,4728.0,15600.0,15600.0,None
21,ឧត្តរមានជ័យ,20922.0,7422.0,5928.0,1494.0,13500.0,13500.0,None
22,កែប,19704.0,7204.0,5704.0,1500.0,12500.0,12500.0,None
23,ប៉ៃលិន,15153.0,6653.0,5419.0,1234.0,8500.0,8500.0,None
24,ត្បូងឃ្មុំ,29174.0,22174.0,18295.0,3879.0,7000.0,7000.0,None

In [71]:
df2['Capital_Province'] = df3['name_en']
df2

,Capital_Province,Total_Revenue,Current_Revenue,Type1_Fiscal_Revenue,Type2_Non-Fiscal_Revenue,Type3_Miscellaneous,Type31_Miscellaneous_Inside,Type32_Non-Compensed_Financing
0,Banteay Meanchey,64436.0,60736.0,52167.0,8569.0,3700.0,3700.0,None
1,Battambang,49902.0,45902.0,38659.0,7243.0,4000.0,4000.0,None
2,Kampong Cham,38642.0,34642.0,25951.0,8691.0,4000.0,4000.0,None
3,Kampong Chhnang,36774.0,19974.0,16538.0,3436.0,16800.0,16800.0,None
4,Kampong Speu,58894.0,45194.0,29632.0,15562.0,13700.0,13700.0,None
5,Kampong Thom,36067.0,18867.0,15900.0,2967.0,17200.0,17200.0,None
6,Kampot,44672.0,34672.0,28191.0,6481.0,10000.0,10000.0,None
7,Kandal,157027.0,153027.0,101190.0,51837.0,4000.0,4000.0,None
8,Koh Kong,25432.0,11932.0,8640.0,3292.0,13500.0,13500.0,None
9,Kratie,30124.0,18624.0,8493.0,10131.0,11500.0,11500.0,None
10,Mondul Kiri,23041.0,6541.0,5303.0,1238.0,16500.0,16500.0,None
11,Phnom Penh,1666273.0,1653221.0,1574473.0,78748.0,13052.0,13052.0,None
12,Preah Vihear,19256.0,7756.0,6500.0,1256.0,11500.0,11500.0,None
13,Prey Veng,68682.0,58482.0,17270.0,41212.0,10200.0,10200.0,None
14,Pursat,21467.0,15267.0,12474.0,2793.0,6200.0,6200.0,None
15,Ratanak Kiri,21535.0,9035.0,7127.0,1908.0,12500.0,12500.0,None
16,Siemreap,76691.0,72691.0,62270.0,10421.0,4000.0,4000.0,None
17,Preah Sihanouk,138860.0,135360.0,120766.0,14594.0,3500.0,3500.0,None
18,Stung Treng,17443.0,5843.0,4510.0,1333.0,11600.0,11600.0,None
19,Svay Rieng,43642.0,30142.0,25973.0,4169.0,13500.0,13500.0,None
20,Takeo,41694.0,26094.0,21366.0,4728.0,15600.0,15600.0,None
21,Oddar Meanchey,20922.0,7422.0,5928.0,1494.0,13500.0,13500.0,None
22,Kep,19704.0,7204.0,5704.0,1500.0,12500.0,12500.0,None
23,Pailin,15153.0,6653.0,5419.0,1234.0,8500.0,8500.0,None
24,Tboung Khmum,29174.0,22174.0,18295.0,3879.0,7000.0,7000.0,None

In [72]:
df2.dtypes

Capital_Province                   object
Total_Revenue                     float64
Current_Revenue                   float64
Type1_Fiscal_Revenue              float64
Type2_Non-Fiscal_Revenue          float64
Type3_Miscellaneous               float64
Type31_Miscellaneous_Inside       float64
Type32_Non-Compensed_Financing     object
dtype: object

In [74]:
df2['Type32_Non-Compensed_Financing'] = pd.to_numeric(df2['Type32_Non-Compensed_Financing'], errors='coerce')
df2.dtypes

Capital_Province                   object
Total_Revenue                     float64
Current_Revenue                   float64
Type1_Fiscal_Revenue              float64
Type2_Non-Fiscal_Revenue          float64
Type3_Miscellaneous               float64
Type31_Miscellaneous_Inside       float64
Type32_Non-Compensed_Financing    float64
dtype: object

In [77]:
df2 = df2.rename(columns={'Type31_Miscellaneous_Inside': 'Type31_Miscellaneous_Domestics', 'Type32_Non-Compensed_Financing':'Type32_Grant_Financing'})
df2

,Capital_Province,Total_Revenue,Current_Revenue,Type1_Fiscal_Revenue,Type2_Non-Fiscal_Revenue,Type3_Miscellaneous,Type31_Miscellaneous_Domestics,Type32_Grant_Financing
0,Banteay Meanchey,64436.0,60736.0,52167.0,8569.0,3700.0,3700.0,NaN
1,Battambang,49902.0,45902.0,38659.0,7243.0,4000.0,4000.0,NaN
2,Kampong Cham,38642.0,34642.0,25951.0,8691.0,4000.0,4000.0,NaN
3,Kampong Chhnang,36774.0,19974.0,16538.0,3436.0,16800.0,16800.0,NaN
4,Kampong Speu,58894.0,45194.0,29632.0,15562.0,13700.0,13700.0,NaN
5,Kampong Thom,36067.0,18867.0,15900.0,2967.0,17200.0,17200.0,NaN
6,Kampot,44672.0,34672.0,28191.0,6481.0,10000.0,10000.0,NaN
7,Kandal,157027.0,153027.0,101190.0,51837.0,4000.0,4000.0,NaN
8,Koh Kong,25432.0,11932.0,8640.0,3292.0,13500.0,13500.0,NaN
9,Kratie,30124.0,18624.0,8493.0,10131.0,11500.0,11500.0,NaN
10,Mondul Kiri,23041.0,6541.0,5303.0,1238.0,16500.0,16500.0,NaN
11,Phnom Penh,1666273.0,1653221.0,1574473.0,78748.0,13052.0,13052.0,NaN
12,Preah Vihear,19256.0,7756.0,6500.0,1256.0,11500.0,11500.0,NaN
13,Prey Veng,68682.0,58482.0,17270.0,41212.0,10200.0,10200.0,NaN
14,Pursat,21467.0,15267.0,12474.0,2793.0,6200.0,6200.0,NaN
15,Ratanak Kiri,21535.0,9035.0,7127.0,1908.0,12500.0,12500.0,NaN
16,Siemreap,76691.0,72691.0,62270.0,10421.0,4000.0,4000.0,NaN
17,Preah Sihanouk,138860.0,135360.0,120766.0,14594.0,3500.0,3500.0,NaN
18,Stung Treng,17443.0,5843.0,4510.0,1333.0,11600.0,11600.0,NaN
19,Svay Rieng,43642.0,30142.0,25973.0,4169.0,13500.0,13500.0,NaN
20,Takeo,41694.0,26094.0,21366.0,4728.0,15600.0,15600.0,NaN
21,Oddar Meanchey,20922.0,7422.0,5928.0,1494.0,13500.0,13500.0,NaN
22,Kep,19704.0,7204.0,5704.0,1500.0,12500.0,12500.0,NaN
23,Pailin,15153.0,6653.0,5419.0,1234.0,8500.0,8500.0,NaN
24,Tboung Khmum,29174.0,22174.0,18295.0,3879.0,7000.0,7000.0,NaN

In [78]:
df2.to_csv("Budget Revenue of sub-national FY2025.csv", index=False)

---
---

In [89]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_66b5cdd949eb6c00013c1309/json?page=1&page_size=100"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df2 = pd.DataFrame(data02['items'])
df = df2.drop(columns=['row_number'])
df

,year,gdp in billion khr,gdp in million usd,gdp % growth rate,gdp per capita in million khr,gdp per capita in usd
0,2005.0,25754.0,6293.0,20.1,2.0,487.0
1,2006.0,29849.0,7275.0,15.9,2.3,558.0
2,2007.0,35042.0,8631.0,17.4,2.7,656.0
3,2008.0,41968.0,10337.0,19.8,3.1,760.0
4,2009.0,43057.0,10400.0,2.6,3.2,753.0
5,2010.0,47048.0,11634.0,9.3,3.4,830.0
6,2011.0,52069.0,12965.0,10.7,3.7,911.0
7,2012.0,56682.0,14054.0,8.9,3.9,973.0
8,2013.0,61327.0,15229.0,8.2,4.2,1042.0
9,2014.0,67437.0,16734.0,10.0,4.6,1131.0
10,2015.0,73423.0,18242.0,8.9,4.9,1218.0
11,2016.0,81242.0,20159.0,10.6,5.4,1330.0
12,2017.0,89831.0,22191.0,10.6,5.8,1429.0
13,2018.0,99544.0,24488.0,10.8,6.3,1555.0
14,2019.0,110014.0,27030.0,10.5,6.9,1694.0
15,2020.0,105892.0,25967.0,-3.7,6.5,1606.0
16,2021.0,110506.0,27171.0,4.4,6.7,1659.0
17,2022.0,121030.0,29599.0,9.5,7.2,1765.0

In [90]:
df['year'] = df['year'].astype('int64')
df.dtypes

year                               int64
gdp in billion khr               float64
gdp in million usd               float64
gdp % growth rate                float64
gdp per capita in million khr    float64
gdp per capita in usd            float64
dtype: object

In [91]:
df

,year,gdp in billion khr,gdp in million usd,gdp % growth rate,gdp per capita in million khr,gdp per capita in usd
0,2005,25754.0,6293.0,20.1,2.0,487.0
1,2006,29849.0,7275.0,15.9,2.3,558.0
2,2007,35042.0,8631.0,17.4,2.7,656.0
3,2008,41968.0,10337.0,19.8,3.1,760.0
4,2009,43057.0,10400.0,2.6,3.2,753.0
5,2010,47048.0,11634.0,9.3,3.4,830.0
6,2011,52069.0,12965.0,10.7,3.7,911.0
7,2012,56682.0,14054.0,8.9,3.9,973.0
8,2013,61327.0,15229.0,8.2,4.2,1042.0
9,2014,67437.0,16734.0,10.0,4.6,1131.0
10,2015,73423.0,18242.0,8.9,4.9,1218.0
11,2016,81242.0,20159.0,10.6,5.4,1330.0
12,2017,89831.0,22191.0,10.6,5.8,1429.0
13,2018,99544.0,24488.0,10.8,6.3,1555.0
14,2019,110014.0,27030.0,10.5,6.9,1694.0
15,2020,105892.0,25967.0,-3.7,6.5,1606.0
16,2021,110506.0,27171.0,4.4,6.7,1659.0
17,2022,121030.0,29599.0,9.5,7.2,1765.0

In [92]:
df.columns.tolist()

['year',
 'gdp in billion khr',
 'gdp in million usd',
 'gdp % growth rate',
 'gdp per capita in million khr',
 'gdp per capita in usd']

In [93]:
df = df.rename(columns={
 "year" : "Year", 
 "gdp in billion khr" : "GDP_in_Billion_KHR",
 "gdp in million usd" : "GDP_in_Million_USD",
 "gdp % growth rate" : "GDP_Growth_Rate_percentage",
 "gdp per capita in million khr" : "GDP_per_Capita_in_Million_KHR",
 "gdp per capita in usd" : "GDP_per_Capita_in_USD"
})
df

,Year,GDP_in_Billion_KHR,GDP_in_Million_USD,GDP_Growth_Rate_percentage,GDP_per_Capita_in_Million_KHR,GDP_per_Capita_in_USD
0,2005,25754.0,6293.0,20.1,2.0,487.0
1,2006,29849.0,7275.0,15.9,2.3,558.0
2,2007,35042.0,8631.0,17.4,2.7,656.0
3,2008,41968.0,10337.0,19.8,3.1,760.0
4,2009,43057.0,10400.0,2.6,3.2,753.0
5,2010,47048.0,11634.0,9.3,3.4,830.0
6,2011,52069.0,12965.0,10.7,3.7,911.0
7,2012,56682.0,14054.0,8.9,3.9,973.0
8,2013,61327.0,15229.0,8.2,4.2,1042.0
9,2014,67437.0,16734.0,10.0,4.6,1131.0
10,2015,73423.0,18242.0,8.9,4.9,1218.0
11,2016,81242.0,20159.0,10.6,5.4,1330.0
12,2017,89831.0,22191.0,10.6,5.8,1429.0
13,2018,99544.0,24488.0,10.8,6.3,1555.0
14,2019,110014.0,27030.0,10.5,6.9,1694.0
15,2020,105892.0,25967.0,-3.7,6.5,1606.0
16,2021,110506.0,27171.0,4.4,6.7,1659.0
17,2022,121030.0,29599.0,9.5,7.2,1765.0

In [94]:
df.dtypes

Year                               int64
GDP_in_Billion_KHR               float64
GDP_in_Million_USD               float64
GDP_Growth_Rate_percentage       float64
GDP_per_Capita_in_Million_KHR    float64
GDP_per_Capita_in_USD            float64
dtype: object

In [95]:
df.to_csv("Cambodia Gross Domestic Product (GDP) at Current prices from 2005-2022.csv", index=False)

---
---

In [24]:
import requests
import pandas as pd

url = "https://data.mef.gov.kh/api/v1/public-datasets/pd_681d89b4dbc953000126f5e7/json?page=1&page_size=200"
response = requests.get(url)
data02 = response.json()
items = data02['items']

df2 = pd.DataFrame(data02['items'])
df = df2.drop(columns=['row_number'])
df

,start date,end date,gasoline 92 (price / litre),price changes (gasoline 92),gasoil 50ppm (price / litre),price changes (gasoil 50ppm),source link
0,2025-06-01,2025-06-10,3750.0,0.0,3500.0,0.0,https://www.moc.gov.kh/news/3125
1,2025-05-21,2025-05-31,3750.0,50.0,3500.0,50.0,https://www.moc.gov.kh/news/3086
2,2025-05-11,2025-05-20,3700.0,-50.0,3450.0,-100.0,https://www.moc.gov.kh/news/3063
3,2025-05-01,2025-05-10,3750.0,50.0,3550.0,50.0,https://www.moc.gov.kh/news/3035
4,2025-04-21,2025-04-30,3700.0,-50.0,3500.0,-50.0,https://www.moc.gov.kh/news/2999
...,...,...,...,...,...,...,...
68,2023-02-11,2023-02-20,4400.0,-367.0,4350.0,-567.0,https://www.moc.gov.kh/news/658
69,2023-02-01,2023-02-10,4767.0,367.0,4917.0,317.0,https://www.moc.gov.kh/news/639
70,2023-01-21,2023-01-31,4400.0,200.0,4600.0,200.0,https://www.moc.gov.kh/news/619
71,2023-01-11,2023-01-20,4200.0,0.0,4400.0,-150.0,https://www.moc.gov.kh/news/605
72,2023-01-01,2023-01-10,4200.0,NaN,4550.0,NaN,https://www.moc.gov.kh/news/591

In [25]:
df.columns.tolist()

['start date',
 'end date',
 'gasoline 92 (price / litre)',
 'price changes (gasoline 92)',
 'gasoil 50ppm (price / litre)',
 'price changes (gasoil 50ppm)',
 'source link']

In [26]:
df.dtypes

start date                       object
end date                         object
gasoline 92 (price / litre)     float64
price changes (gasoline 92)     float64
gasoil 50ppm (price / litre)    float64
price changes (gasoil 50ppm)    float64
source link                      object
dtype: object

In [27]:
df = df.rename(columns={
 'start date' : 'Start_Date',
 'end date' : 'End_Date',
 'gasoline 92 (price / litre)' : 'Gasoline_92_Unit_Price',
 'price changes (gasoline 92)' : 'Gasoline_92_Unit_Price_Change',
 'gasoil 50ppm (price / litre)': 'Gasoil_50ppm_Unit_Price',
 'price changes (gasoil 50ppm)': 'Gasoil_50ppm_Unit_Price_Change',
 'source link': 'Source_Link'
})
df

,Start_Date,End_Date,Gasoline_92_Unit_Price,Gasoline_92_Unit_Price_Change,Gasoil_50ppm_Unit_Price,Gasoil_50ppm_Unit_Price_Change,Source_Link
0,2025-06-01,2025-06-10,3750.0,0.0,3500.0,0.0,https://www.moc.gov.kh/news/3125
1,2025-05-21,2025-05-31,3750.0,50.0,3500.0,50.0,https://www.moc.gov.kh/news/3086
2,2025-05-11,2025-05-20,3700.0,-50.0,3450.0,-100.0,https://www.moc.gov.kh/news/3063
3,2025-05-01,2025-05-10,3750.0,50.0,3550.0,50.0,https://www.moc.gov.kh/news/3035
4,2025-04-21,2025-04-30,3700.0,-50.0,3500.0,-50.0,https://www.moc.gov.kh/news/2999
...,...,...,...,...,...,...,...
68,2023-02-11,2023-02-20,4400.0,-367.0,4350.0,-567.0,https://www.moc.gov.kh/news/658
69,2023-02-01,2023-02-10,4767.0,367.0,4917.0,317.0,https://www.moc.gov.kh/news/639
70,2023-01-21,2023-01-31,4400.0,200.0,4600.0,200.0,https://www.moc.gov.kh/news/619
71,2023-01-11,2023-01-20,4200.0,0.0,4400.0,-150.0,https://www.moc.gov.kh/news/605
72,2023-01-01,2023-01-10,4200.0,NaN,4550.0,NaN,https://www.moc.gov.kh/news/591

In [28]:
df.columns.tolist()

['Start_Date',
 'End_Date',
 'Gasoline_92_Unit_Price',
 'Gasoline_92_Unit_Price_Change',
 'Gasoil_50ppm_Unit_Price',
 'Gasoil_50ppm_Unit_Price_Change',
 'Source_Link']

In [29]:
new_rows = pd.DataFrame([
    {
        'Start_Date': '2025-06-11', 
        'End_Date': '2025-06-20',
        'Gasoline_92_Unit_Price': 3750,
        'Gasoline_92_Unit_Price_Change': 0,
        'Gasoil_50ppm_Unit_Price': 3550,
        'Gasoil_50ppm_Unit_Price_Change': 50,
        'Source_Link': 'https://www.moc.gov.kh/news/3148'
    }
])

df = pd.concat([new_rows, df], ignore_index=True)
df

,Start_Date,End_Date,Gasoline_92_Unit_Price,Gasoline_92_Unit_Price_Change,Gasoil_50ppm_Unit_Price,Gasoil_50ppm_Unit_Price_Change,Source_Link
0,2025-06-11,2025-06-20,3750.0,0.0,3550.0,50.0,https://www.moc.gov.kh/news/3148
1,2025-06-01,2025-06-10,3750.0,0.0,3500.0,0.0,https://www.moc.gov.kh/news/3125
2,2025-05-21,2025-05-31,3750.0,50.0,3500.0,50.0,https://www.moc.gov.kh/news/3086
3,2025-05-11,2025-05-20,3700.0,-50.0,3450.0,-100.0,https://www.moc.gov.kh/news/3063
4,2025-05-01,2025-05-10,3750.0,50.0,3550.0,50.0,https://www.moc.gov.kh/news/3035
...,...,...,...,...,...,...,...
69,2023-02-11,2023-02-20,4400.0,-367.0,4350.0,-567.0,https://www.moc.gov.kh/news/658
70,2023-02-01,2023-02-10,4767.0,367.0,4917.0,317.0,https://www.moc.gov.kh/news/639
71,2023-01-21,2023-01-31,4400.0,200.0,4600.0,200.0,https://www.moc.gov.kh/news/619
72,2023-01-11,2023-01-20,4200.0,0.0,4400.0,-150.0,https://www.moc.gov.kh/news/605
73,2023-01-01,2023-01-10,4200.0,NaN,4550.0,NaN,https://www.moc.gov.kh/news/591

In [30]:
df.dtypes

Start_Date                         object
End_Date                           object
Gasoline_92_Unit_Price            float64
Gasoline_92_Unit_Price_Change     float64
Gasoil_50ppm_Unit_Price           float64
Gasoil_50ppm_Unit_Price_Change    float64
Source_Link                        object
dtype: object

In [31]:
df['Start_Date'] = pd.to_datetime(df['Start_Date'])
df['End_Date'] = pd.to_datetime(df['End_Date'])
df.dtypes

Start_Date                        datetime64[ns]
End_Date                          datetime64[ns]
Gasoline_92_Unit_Price                   float64
Gasoline_92_Unit_Price_Change            float64
Gasoil_50ppm_Unit_Price                  float64
Gasoil_50ppm_Unit_Price_Change           float64
Source_Link                               object
dtype: object

In [32]:
df

,Start_Date,End_Date,Gasoline_92_Unit_Price,Gasoline_92_Unit_Price_Change,Gasoil_50ppm_Unit_Price,Gasoil_50ppm_Unit_Price_Change,Source_Link
0,2025-06-11,2025-06-20,3750.0,0.0,3550.0,50.0,https://www.moc.gov.kh/news/3148
1,2025-06-01,2025-06-10,3750.0,0.0,3500.0,0.0,https://www.moc.gov.kh/news/3125
2,2025-05-21,2025-05-31,3750.0,50.0,3500.0,50.0,https://www.moc.gov.kh/news/3086
3,2025-05-11,2025-05-20,3700.0,-50.0,3450.0,-100.0,https://www.moc.gov.kh/news/3063
4,2025-05-01,2025-05-10,3750.0,50.0,3550.0,50.0,https://www.moc.gov.kh/news/3035
...,...,...,...,...,...,...,...
69,2023-02-11,2023-02-20,4400.0,-367.0,4350.0,-567.0,https://www.moc.gov.kh/news/658
70,2023-02-01,2023-02-10,4767.0,367.0,4917.0,317.0,https://www.moc.gov.kh/news/639
71,2023-01-21,2023-01-31,4400.0,200.0,4600.0,200.0,https://www.moc.gov.kh/news/619
72,2023-01-11,2023-01-20,4200.0,0.0,4400.0,-150.0,https://www.moc.gov.kh/news/605
73,2023-01-01,2023-01-10,4200.0,NaN,4550.0,NaN,https://www.moc.gov.kh/news/591

In [33]:
df.to_csv('Historical Data of Fuel Prices over Time.csv', index=False)